.sec-foreign.section-foreign-3.container.mt-5.mb-5
  .row
    .section-foreign-3__info.col-12
      .section-foreign-3__info__title.col-12 TRANSACTION PROCEDURE:
      .section-foreign-3__info__content.row.px-2 !{dataForeigner.transaction.info}