extends ../layouts/layout_foreigner

block vars
  -title = 'For Foreigner'
  -bodyClass = 'foreigner-page'
  -menuIndex = 3
  -
    data = {
      condition: {
        info: `
          <ul>
            <li><strong>For overseas Vietnamese:</strong> <p>Whoever are allowed to enter Vietnam (with legal entry visa).</p></li>
            <li><strong>For foreign individuals:</strong> <p>Whoever are allowed to enter Vietnam and are not eligible for diplomatic or consular privileges or immunities according to the provisions of law (visa entry + commitment not subject to diplomatic or consular immunity).</p></li>
            <li><strong>For FDI Enterprises, branches and representative offices of foreign enterprises, foreign investment funds and foreign bank branches:</strong> <p>Being operating in Vietnam (with investment certificate, branch establishment permit, lawful office);</p></li>
          </ul>`,
        image: "./images/condition_image.jpg"
      },
      transaction: {
        info: `
        <ul class='col-12 col-sm-6'>
          <li><span>1.</span>Customers choose apartments/villas that they want and place the deposit <strong>directly at the Developer's Sales Office or the Agent</strong> to register to buy.</li>
          <li><span>2.</span>The developer <strong>signs a deposit agreement</strong> with customers, customers <strong>pay the deposit</strong> at the time of signing the deposit agreement; within 10 days, customers have to <strong>sign a purchase contract</strong> with the developer.</li>
        </ul>
        <ul class='col-12 col-sm-6'>
          <li><span>3.</span>The customer <strong>pays the purchase price</strong> of the apartment / villa under the purchase contract to the developer's account opened in Vietnam. <strong>The payment currency is VND.</strong></li>
          <li><span>4.</span>Upon completion of the construction, the developer shall <strong>send a notice of delivery of the apartment/villa</strong> according to schedule to the customer in accordance with the terms of the purchase contract; The customer <strong>accepts the transfer of the apartment/villa</strong> in accordance with the terms of the purchase contract (after paying the full amount stated in the purchase contract)</li>
        </ul>`
      },
      sell: {
        conditions: `
          <p class="content-title">1. Conditions for buying houses in Vietnam of foreigners and overseas Vietnamese</p>
          <ul>
            <li><strong>For overseas Vietnamese:</strong> Whoever are allowed to enter Vietnam (with legal entry visa).</li>
            <li><strong>For FDI Enterprises, branches and representative offices of foreign enterprises, foreign investment funds and foreign bank branches:</strong>
              Being operating in Vietnam (with investment certificate, branch establishment permit, lawful office)</li>
            <li><strong>For foreign individuals:</strong> Whoever are allowed to enter Vietnam and are not eligible for diplomatic or 
              consular privileges or immunities according to the provisions of law.</li>
          </ul>
          <div class="note">
            <p class="note__title">Note</p>
            <p class="note__content">These conditions are in line with the Law on Housing issued and effective 
              from 1 July 2015, as detailed in <strong>No. 99/2015 / ND-CP</strong> dated October 20, 2015.</p>
          </div>
        `,
        transaction: `
          <p class="content-title">2. Transaction Procedure</p>
          <ul class="transaction">
            <li>Customers choose apartments/villas that they want and place the deposit directly at the Developer's 
              Sales Office or the Agent to register to buy. (deposit = 100 millions).</li>
            <li>Sales Office of the Developer / Agents transfer the deposit and registration of the customer to the Developer</li>
            <li>The Developer will sign a deposit agreement with the Customer after receiving the required deposit 
              (specific deposit according to the sales policy).</li>
            <li>Customers pay the deposit stated in the sales policy.</li>
            <li>The Developer will send the invitation to customers to have them sign the purchase contract within the time commitment at 
              the deposit agreement and documents related to the sale of housing (as for domestic customers) as prescribed.</li>
            <li>The customer pays the purchase price of the apartment / villa under the purchase contract to the developer's 
              account opened in Vietnam. The payment currency is VND.</li>
            <li>Upon completion of the construction, the developer shall send a notice of delivery of the apartment/ villa according to 
              schedule to the customer in accordance with the terms of the purchase contract; The customer accepts the transfer of the apartment/villa 
              in accordance with the terms of the purchase contract (after paying the full amount stated in the purchase contract)</li>
            <li>Investor makes red book of Apartment for customers (Section 3.4).</li>
          </ul>
          <div class="note">
            <p class="note__title">Note</p>
            <p class="note__content">The client's identification documents include: (1) Consular legalization in Vietnam; (2) Visa entry into Vietnam is 
              still valid (need to ensure the time of signing the contract must be within the validity of Visa) (or Visa exemption 
              (Foreigners with spouses, children are Vietnamese or overseas Vietnamese)

              Regulations on visa exemption in <strong>Decision 135/2007 / QD-TTG</strong></p>
          </div>
          `,
        issues: `
          <p class="accordion-title">3. Legal issues related to the process of selling housing to foreigners and related procedures / matters</p>
          
          <div class="section-foreign-4__item__arcordion">
            <button class="section-foreign-4__item__arcordion__link">3.1. Procedures of transferring money to pay for housing purchase</button>
            <div class="section-foreign-4__item__arcordion__item" id="defaultItemShow" >
              <div class="item-content">
                <p>Customers choose one of two ways: (1) open an account at a bank in Vietnam and pay money to the account of the developer or (2) 
                  transfer money directly from abroad into the account of the developer open at the joint stock commercial bank in Vietnam, or (3) 
                  deposit cash in VND into the developer's account at banks operating in Vietnam.</p>
                <p><strong><u>Note:</u></strong></p>
                <ul>
                  <li>Foreigners can only carry a certain amount of foreign currency into Vietnam. When bringing foreign currencies into Vietnam, 
                    customs procedures must be carried out.</li>
                  <li>If the transaction is the purchase of housing, the amount of foreign currency transferred into Vietnam will not exceed the 
                    value of the transaction (the price listed on the housing contract).</li>
                  <li>If the foreigner transfers money and accepts to pay all the fees, the recipient will pay the fee of "have money into the account" 
                    and the fee of " foreign exchange" if they want to withdraw money in foreign currency. If a foreigner pays only a portion of the fee 
                    or does not pay the fee, the recipient will pay the outstanding fee for the transfer as charged at the foreign bank.</li>
                  <li>Transactions related to foreigners' accounts opened at banks are closely controlled by the Bank through the checking of documents,
                    the purpose of conducting transactions, checking the identity of the account holder and The signature of the account holder on the
                      money transfer / debit authorization.</li>
                </ul>    
              </div>
              <div class="note">
                <p class="note__title">Note</p>
                <p class="note__content">Regulations on opening bank accounts in Vietnam: <strong>Circular 23/2014 / TT-NHNN</strong> regulating the operation of accounts
                  in <strong>Circular 16/2014 / TT-NHNN</strong> and this account is allowed to conduct transactions. Use cash in accordance with <strong>Decree 101/2012 / ND-CP, 
                      Circular 46/2014 / TT-NHNN</strong></p>
              </div>
            </div>
            <button class="section-foreign-4__item__arcordion__link">3.2. Rental Program Revenue Transfer Procedure (Applicable to BTB)</button>
            <div class="section-foreign-4__item__arcordion__item" >
              <div class="item-content">
                <p>Customers can select some following forms: (1) set up a VND account at a commercial bank in Vietnam (or use an account opened at a bank in
                  Vietnam to make payment for the house) to receive revenue (Transaction Account) from the investor or rental unit; or (2) have Real estate 
                  developers and leasing companies transfer their revenues directly to their overseas accounts.</p>
                <p>The developer or leasing companies will deduct from the turnover taxes and fees following the provisions of the purchase contract and the law 
                  of Vietnam:</p>
                <ul>
                  <li>Contractor's tax (personal income tax) on turnover: for property leasing services is 5% of income</li>
                  <li>Value added tax for foreign individuals: <strong>5% of turnover for VAT calculation</strong></li>
                  <li>Remittance fee + electricity charge + foreign bank charge (if any)</li>
                </ul>
                <p>Note: The amount of foreign currency transferred out of the territory of Vietnam will not exceed the lawful income of the individual at the 
                  price stated in the lease contract (converted from VND) or the price written on the contract of transfer of housing between foreign 
                  individuals and the transferee.</p>
              </div>
              <div class="note">
                <p class="note__title">Note</p>
                <p class="note__content">Contractor's tax stipulated in <strong>Article 5, Article 12 of Circular 103/2014 / TT-BTC.</strong> Corporate income tax for foreign 
                  organizations is stipulated in <strong>Circular 103/2014 / TT-BTC.</strong>
                  <br/><br/>
                  The tax rate applicable to property leasing business entities stipulated in <strong>Article 10 of the Personal Income Tax Law of 2007</strong> is 
                  amended and supplemented by <strong>Law No. 71/2014 / QH13 (Article 2.4)</strong>
                  Regulations on banking charges are regulated in <strong>Circular 26/2013 / TT-NHNN</strong></p>
              </div>
            </div>
            <button class="section-foreign-4__item__arcordion__link">3.3. Taxes, fees and charges when foreigners buy real estate in Vietnam</button>
            <div class="section-foreign-4__item__arcordion__item" >
              <div class="item-content">
                <ul>
                  <li>VAT upon purchase The apartment is 10% of the selling price of the apartment (excluding the value of land use rights and the cost 
                    of maintaining the area under common ownership 2% of the selling price of the apartment). VAT upon purchase Villa is 10% of the villa price
                    (excluding the value of land use rights).</li>
                  <li>For apartment: The cost of maintaining the area under common ownership accounts for 2% of the price of the apartment.</li>
                  <li>Registration fee for applying for a certificate: 0.5% of the value of the property for registration fee, however, the maximum fee is 
                    500 million VND per property / registration. The value of assets for registration fee calculation is the price set by the provincial People's
                    Committee from time to time.</li>
                  <li>State administrative fees and charges when applying for a certificate: According to the State's regulations from time to time, 
                    now is VND 661,000.</li>
                </ul>
              </div>
            </div>
            <button class="section-foreign-4__item__arcordion__link">3.4. Taxes, fees and charges when foreigners transfer real estate</button>
            <div class="section-foreign-4__item__arcordion__item" >
              <div class="item-content">
                <ul>
                  <li>Personal income tax: 2% of transfer price.</li>
                  <li>VAT of the foreign contractor under item 3.2.</li>
                  <li>Administrative fees and charges (if the seller accepts to pay on behalf of the buyer): according to the State's regulations
                      from time to time, it is VND 661,000.</li>
                  <li>Registration fee for applying for a certificate: <strong>0.5% of the value of the property for registration fee, however, the maximum 
                      fee is 500 million VND per property / registration.</strong> The value of assets for registration fee calculation is the price set by the
                      provincial People's Committee from time to time.</li>
                </ul>
              </div>
            </div>
            <button class="section-foreign-4__item__arcordion__link">3.5. Can foreigners bring cash into Vietnam?</button>
            <div class="section-foreign-4__item__arcordion__item" >
              <div class="item-content">
                <p>Foreigners can only carry a certain amount of foreign currency into Vietnam. When bringing foreign currencies into Vietnam, customs procedures must be 
                  carried out.</p>
              </div>
              <div class="note">
                  <p class="note__title">Note</p>
                  <p class="note__content">Under regulations, if the amount of cash brought by foreigners to Vietnam is more than $ 5000, then the customs declaration.</p>
                </div>
            </div>
            <button class="section-foreign-4__item__arcordion__link">3.6. Can foreigners use credit cards to pay the deposit?</button>
            <div class="section-foreign-4__item__arcordion__item" >
              <div class="item-content">
                <p>Foreigners can use foreign credit cards (but note that they must be international credit cards) 
                to pay for purchases and sales of goods and services in Vietnam. And the payment transaction must be made in VND, 
                in case the price is recorded in freely convertible foreign currency, the agreement must be converted into VND in the contract.</p>
              </div>
              <div class="note">
                <p class="note__title">Note</p>
                <p class="note__content">This issue was adjusted in the <strong>Consolidated Document No. 04 / VBHN-NHNN</strong> 
                  dated April 22, 2014 incorporating  <strong>Decision No. 20/2007 / QD-NHNN</strong> and <strong>Circular No. 23/2011 / TT-NHNN.</strong></p>
              </div>
            </div>
            <button class="section-foreign-4__item__arcordion__link">3.7. Red book and title procedures</button>
            <div class="section-foreign-4__item__arcordion__item" >
              <div class="item-content">
                <p>The developer will request customers to submit the dossier as a red book in accordance with the provisions of the PL when the parties have
                  completed the handover and settlement of the land</p>
                <p>The developer shall carry out red book procedures for clients within the time limit prescribed by law, from the date the clients submit the 
                    complete dossiers under the notice. The red book is issued by the State (actually about 3-6 months since the full application).
                </p>
                <p><strong>Duration of house ownership:</strong></p>
                <ul>
                  <li>
                      <strong>For Overseas Vietnamese:</strong> Long-term ownership like Vietnamese.
                  </li>
                  <li>
                    <strong>For foreigners:</strong> 50 years of ownership and a one-time extension of the house ownership term at the request of the owner but 
                    must not exceed 50 years from the first expiration of the house ownership (Item 2 of Article 161 of the Housing Law and Article 77 of 
                    Decree 99).
                  </li>
                  <li>
                    <strong>For foreign organizations:</strong> According to the duration of the investment certificate in Vietnam.
                  </li>
                </ul>
              </div>
            </div>
            <button class="section-foreign-4__item__arcordion__link">3.8. Form of purchase contract, deposit agreement and documents related to the sale of housing</button>
            <div class="section-foreign-4__item__arcordion__item" >
              <div class="item-content">
                <p>The sample used in the sale of housing basically consists of the following documents:</p>
                <ul>
                  <li>
                    Deposit Agreement and Subscription (before the foundation) or Deposit Agreement (in case of post-foundation deposit).
                  </li>
                  <li>Sales contract and enclosed appendices.
                      The contract of sale and purchase according to the registered form (regardless of foreigners and Vietnamese). 
                      Translated into English form the contract. In case of dispute, the Vietnamese version is preferred.
                  </li>
                </ul>
              </div>
            </div>
            <button class="section-foreign-4__item__arcordion__link">3.9. Procedure to mortgage the right to purchase or sell housing loan</button>
            <div class="section-foreign-4__item__arcordion__item" >
              <div class="item-content">
                <p>According to <strong>Article 144 of the Housing Act 2014,</strong> effective from 01.7.2015, owners of housing are organizations entitled to mortgage
                    their houses in credit institutions operating in Vietnam. Owners of dwelling houses are individuals who may mortgage their houses at
                    credit institutions or economic organizations operating in Vietnam or individuals as prescribed by law. As such, the law of Vietnam
                      does not currently provide for cases where foreigners are entitled to mortgage their houses overseas as collateral but only the right
                      to mortgage their properties as housing for the Bank. foreigners operating in Vietnam.</p>
              </div>
            </div>
            <button class="section-foreign-4__item__arcordion__link">3.10. Procedures for authorization to sign sales contracts and related documents</button>
            <div class="section-foreign-4__item__arcordion__item" >
              <div class="item-content">
                <p>Overseas Vietnamese can authorize others to sign the SC and related documents. Authorization documents must be made at the private notary
                  office in foreign countries and be legalized consular and translated into Vietnamese in Vietnam or authorized by the Ambassador of Vietnam 
                  in foreign countries with the passport / ID card of authorized person.</p>
              </div>
            </div>
            <button class="section-foreign-4__item__arcordion__link">3.11. Bank loans</button>
            <div class="section-foreign-4__item__arcordion__item" >
              <div class="item-content">
                <p><strong>Condition:</strong> Must prove income to pay principal + loan interest</p>
                <ul>
                  <li>Having a labor contract in Vietnam, or</li>
                  <li>There is a guarantee from a foreign bank for a loan in Vietnam,</li>
                  <li>Income from the collateral (rental, turnover ...)</li>
                </ul>
                <p>Loan rates will be determined on a case-by-case basis.</p>
              </div>
            </div>
            <button class="section-foreign-4__item__arcordion__link">3.12. Regulations on quality assurance of construction</button>
            <div class="section-foreign-4__item__arcordion__item" >
              <div class="item-content">
                <ul>
                  <li>Ensure construction in accordance with the approved planning and construction standards of Vietnam (recorded in the contract).</li>
                  <li>5-year structure warranties for apartment and 2-year for villa.</li>
                  <li>Equipments are accompanied by the manufacturer's standard.</li>
                </ul>
              </div>
            </div>
          </div>
        `
      },
    }

block container
  include _sec_1
  include _sec_2
  include _sec_3
  include _sec_4