.sec-proj.section-proj-3.mt-5.container#info
  .row
    .section-proj-3__item.col-12.col-sm-4
      .section-proj-3__item__title LOẠI HÌNH
      .section-proj-3__item__content #{project.info.model}
    .section-proj-3__item.col.col-12.col-sm-4
      .section-proj-3__item__title CHỦ ĐẦU TƯ
      .section-proj-3__item__content !{project.info.investor}
    .section-proj-3__item.col.col-12.col-sm-4
      .section-proj-3__item__title GIÁ BÁN
      .section-proj-3__item__content !{project.info.price}