.sec-proj.section-proj-1#banner
  img.section-proj-1__bg.img-fluid(src=src+'images/image-eden-rose.jpg')
  .section-proj-1__button-group.row
    .section-proj-1__button-group__picture.btn.col HÌNH ẢNH
    .section-proj-1__button-group__civil-guide.btn.col.mr-4.ml-4 MẶT BẰNG
    .section-proj-1__button-group__position.btn.col VỊ TRÍ