script.
  var project = !{JSON.stringify(project)};

.sec-proj.section-proj-1#banner
  img.section-proj-1__bg.img-fluid(src=project.banner)
  .section-proj-1__button-group.row
    a.fancybox.section-proj-1__button-group__picture.btn.col HÌNH ẢNH
    a.fancybox.section-proj-1__button-group__civil-guide.btn.col MẶT BẰNG
    a.fancybox.section-proj-1__button-group__position.btn.col VỊ TRÍ