.sec-proj.section-proj-4.mt-5.py-4#detail
  .container
    .row
      .section-proj-4__detail.col-md-8
        .section-proj-4__detail__title GIỚI THIỆU CHUNG
        .section-proj-4__detail__content.mt-4 !{project.detail.text} 
          span.more xem thêm
      .section-proj-4__download.col-md-4
        .section-proj-4__download__title TÀI LIỆU TẢI VỀ
        .section-proj-4__download__content.mt-4
          .section-proj-4__download__brochure.btn-2.d-inline-block.mr-3 BROCHURE
          .section-proj-4__download__leaflet.btn-2.d-inline-block LEAFLET