extends ../layouts/layout_project

block vars
  -title = 'Luxury Đà Nẵng'
  -bodyClass = 'project-page'
  -menuIndex = 1
  -lang = 'vi'
  -pageName= 'project_luxury'
  include ../../data/data.pug
  -
    project = {
      banner:"./images/image-luxury-danang.jpg",
      name: "Four Points By Sheraton và Luxury Apartment Đà Nẵng",
      address: "120 Võ Nguyên Giáp, Giao lộ Trần Hữu Tước, Phước Mỹ, Sơn Trà, Đà Nẵng",
      info: {
          model: "Khách sạn, căn hộ cao cấp",
          investor: "Công ty Cổ phần Địa ốc Alphanam - thuộc Tập đoàn Alphanam",
          price: "Từ <strong>39.5 đến 86 triệu/m2</strong>"
      },
      detail: {
        text: `Nằm bên bờ biển Mỹ Khê, Đà Nẵng là thành phố lớn thứ 3 tại Việt Nam, là một trung tâm kinh tế và du lịch đặc biệt thu hút
         khách nước ngoài. Tổ hợp khách sạn và căn hộ cao cấp Four Points By Sheraton & Luxury Apartment mang đến những trải nghiệm tuyệt 
         vời tại thành phố đáng sống nhất Việt Nam. Với không gian thoáng đãng và tầm nhìn rộng mở, du khách có thể thu trọn Đà Nẵng ngay 
         trong tầm mắt. Đặc biệt, tại đây, du khách vừa được tận hưởng không gian nghỉ dưỡng đẳng cấp 5 sao mà vẫn dễ dàng khám phá trọn
          vẹn thành phố Đà Nẵng đầy sôi động chỉ trong vài phút di chuyển. </br></br>
          Với sự phát triển nhanh chóng về du lịch và kinh tế, Đà Nẵng đang vươn mình trở thành thành phố thông minh, hiện đại, một trung
           tâm giao thương quốc tế của khu vực và thế giới. Và với tốc độ này, Đà Nẵng sẽ không chỉ được biết đến với tư cách là điểm du 
           lịch nổi tiếng, mà còn là địa điểm đầu tư hấp dẫn toàn cầu.
         `,
        more: ``
      },
      area: {
        contruction: {
          value: "55,091 m2",
          desc: "Tổng diện tích sàn xây dựng"
        },
        greenery: {
          value: "3.137 m2",
          desc: "Diện tích xây dựng"
        },
        mansion: {
          value: "232 căn",
          desc: "Tổng số căn hộ"
        },
        apartment: {
          value: "390 căn",
          desc: "Tổng số phòng khách sạn"
        }
      },
      other: {
        investor: `
          <p>Chủ đầu tư dự án Alphanam Luxury là công ty cổ phần Alphanam Group; một trong những doanh nghiệp có tiếng tăm và tiềm lực tài chính 
          mạnh mẽ trên thị trường bất động sản.</p>
          <p>Tổng giám đốc dự án Alphanam Luxuxy Đà Nẵng ông Nguyễn Tuấn Hải là một trong những doanh nhân thành đạt của Việt Nam lọt vào top 20 
          người giàu nhất thị trường chứng khoán năm 2012, với vị trí thứ 10, tổng tài sản ước tính khoảng 1,046 tỷ đồng. Dưới sự lãnh đạo của ông 
          Hải, tập đoàn Alphanam đang có những bước phát triển mạnh mẽ với hàng loạt các dự án khắp mọi miền tổ quốc như: Four Points by Sheraton & 
          Luxury Apartment Đà Nẵng, Marriot Courtyard & Marriot Executive Apartments Đà Nẵng, Golden Square Đà Nẵng, Công viên văn hóa Mường Hoa Sapa,
           Golden City An Giang, King Palace Hà Nội, Luxyry Apartment Quy Nhơn</p>
        `,
        design: `
          <ul>
            <li>
             <strong>Đơn vị thiết kế :</strong> Dự án Four Points by Sheraton and Luxury Apartment được tư vấn thiết kế bởi Kiến trúc sư Salvador Pérez Arroyo và
              cộng sự. Ông Salvador Pérez Arroyo là một trong 10 kiến trúc sư hàng đầu thế giới và đã để lại nhiều công trình kiệt tác ở khắp các
               châu lục. Đây là công trình đầu tiên của ông tại bãi biển Đà Nẵng - Việt Nam.
            </li>
            <li>
              <strong>Chủ trì thiết kế :</strong>
              <ul style="list-style-type: circle">
                <li class="mb-0">Tiến sỹ/Kiến trúc sư: Salvador Perez Arroyo</li>
                <li class="mb-0">Quốc tịch: Tây Ban Nha</li>
                <li class="mb-0">Top 10 kiến trúc sư nổi tiếng thế giới</li>
                <li class="mb-0">40 năm kinh nghiệm</li>
                <li class="mb-0">Hơn 50 giải thưởng uy tín</li>
                <li class="mb-0">Tác giả nhiều cuốn sách về kiến trúc</li>
                <li class="mb-0">Trường phái kiến trúc hậu hiện đại</li>
              </ul>
            </li>
            <li>
              <strong>Đơn vị quản lý khách sạn: Tập đoàn Starwood</strong>
              Four Points by Sheraton được quản lý vận hành bởi Tập đoàn Starwood -  tập đoàn quản lý khách sạn và khu nghỉ dưỡng hàng đầu thế giới 
              với 1.162 khách sạn ở gần 100 quốc gia và 171.000 nhân viên trên toàn thế giới.</br>
              Starwood là tập đoàn khách sạn sang trọng bậc nhất với nhiều thương hiệu khách sạn nổi tiếng như Westin, Sheraton, The Luxury Collection,
               W Hotels, St Regis, Tribute portfolio, Aloft hotels, Element by Westin, Four Points by Sheraton
            </li>
            <li>
              <strong>Đơn vị quản lý căn hộ:</strong> Tập đoàn Savills
              Với 20 năm kinh nghiệm quản lý Bất động sản tại Việt Nam và quản lý trên 65 triệu m2 diện tích Nhà ở và thương mại trên toàn thế giới.
            </li>
          </ul>
        `,
        construct: `
            <p><strong>Nhà thầu thi công:</strong> Công ty xây dựng dân dụng và công nghiệp Delta</p>
            <p>DELTA được thành lập năm 1993, chuyên nhận thầu thi công các công trình xây dựng dân dụng, công nghiệp, các công trình có yêu cầu 
            cao về chất lượng, kỹ thuật và mỹ thuật như khách sạn, tổ hợp nhà văn phòng, nhà ở cao cấp….</p>
            <p>Trải qua 25 năm xây dựng và phát triển, DELTA đã trở thành Tập đoàn Xây dựng lớn mạnh với 12 công ty thành viên, 2500 cán bộ kỹ sư,
             kiến trúc sư và hệ thống thiết bị máy móc đồng bộ, hiện đại.</p>
          `,
        position: `
          <p>
            Tọa lạc trên con đường mang tên vị Đại tướng vĩ đại Võ Nguyên Giáp, bên cạnh bãi tắm Phạm Văn Đồng, công viên Biển Đông, kết nối thuận
             tiện tới nhiều khu vực hành chính quan trọng, Four Points by Sheraton and Luxury Apartment sở hữu vị trí vàng tại thành phố biển Đà Nẵng
              khi kết hợp được những yếu tố quyết định của một khu tổ hợp khách sạn cao cấp và căn hộ nghỉ dưỡng sang trọng tiêu chuẩn 5 sao.
          </p>
        `,
        design_info: `
          <p>Khách sạn Four Point by Sheraton là khách sạn đầu tiên thuộc hệ thống tập đoàn Starwood được xây dựng tại thành phố biển Đà Nẵng.
           Với quy mô 390 phòng cùng phong cách trang trí hiện đại, tiện nghi phong phú - Four Point by Sheraton Đà Nẵng được coi là một điểm
            dừng chân lý tưởng đáp ứng được mọi điều khách hàng tìm kiếm đối với một thiên đường nghỉ dưỡng đẳng cấp thế giới.</p>
          <p>Sản phẩm căn hộ 5 sao Alphamam Luxury được thiết kế với diện tích khá đa dạng bố trí từ 1 – 2 phòng ngủ rất phù hợp với khách hàng mua 
          để ở hoặc đầu tư để đồng hành cùng chủ đầu tư bằng việc vận hành cho thuê căn hộ với mức lợi nhuận lên đến 8% mỗi năm. Dự án Alphanam
           Luxury sở hữu các hướng view đẹp nhìn ra bãi biển Phạm Văn Đồng, khu trung tâm thành phố và Bán Đảo Sơn Trà.</p>
           <ul>
            <li>Căn 1PN: 58m2 - 65m2</li>
            <li>Căn 2PN: 73m2 - 75m2 - 77m2 - 79m2 - 102m2</li>
           </ul>
        `,
        utility: `
          <p>
            Khu căn hộ đẳng cấp Alphanam Luxury Đà Nẵng được đồng bộ chuỗi dịch vụ tiện ích đẳng cấp 5 sao hiện đại và đội ngũ quản lý dịch vụ
             quốc tế chuyên nghiệp mang đến một không gian sống tiện nghi với các căn hộ được thiết kế tối ưu, hoàn hảo đến từng chi tiết giúp
              cho khách hàng có thể tận hưởng cuộc sống một cách trọn vẹn nhất.
          </p>
          <ul>
            <li>Bể bơi vô cực</li>
            <li>Phòng tập Gym hiện đại</li>
            <li>Nhà hàng đẳng cấp</li>
            <li>Spa chăm sóc sắc đẹp</li>
            <li>Hệ thống an ninh giám sát 24/24h</li>
            <li>Sảnh đón tiếp sang trọng</li>
          </ul>
          <p>Luxury Apartment có vị trí đắc địa duy nhất ngay cạnh bờ biển Mỹ Khê - một trong 5 bãi biển quyến rũ nhất hành tinh. Được đánh giá 
          là thiên đường nghỉ dưỡng đáng sống nhất Việt Nam, hàng năm thu hút lượng lớn khách tham quan du lịch và nơi thường xuyên diễn ra các
           sự kiện của thành phố biển Đà Nẵng.</p>
          <p>Mặt tiền dự án Alphanam Luxury Aparment tiếp giáp với khu công viên Biển Đông và tuyến đường Võ Nguyên Giáp kéo dài giúp cho việc di 
          chuyển, kết nối đến các khu vực sân bay quốc tế, trung tâm hành chính của Đà Nẵng vô cùng thuận lợi.</p>
          <ul>
            <li>Cách Sân bay quốc tế Thành phố: 5Km</li>
            <li>Trung tâm thành phố Đà Nẵng: 3km</li>
            <li>Cầu Rồng Sông Hàn: 3 Km</li>
            <li>Bán đảo Sơn Trà: 3 Km</li>
            <li>Chùa Linh Ứng: 4 Km</li>
            <li>Khu du lịch Bà Nà Hills: 20km</li>
            <li>Cách phố cổ Hội An: 22Km</li>
            <li>Ga Đà Nẵng: 4 Km</li>
          </ul>
        `,
        progress: `
          <p>Tiến độ thi công</p>
          <p>
            Đã tiến hành bàn giao căn hộ - thời gian bàn giao căn hộ từ Q1/2017</br>
            Hình thức bàn giao : Hoàn thiện 100% bao gồm cả nội thất
          </p>
          <p>Pháp lý</p>
          <ul>
            <li class="mb-0">Giấy phép mở bán, cho thuê căn hộ của sở xây dựng TP Đà Nẵng số 7656/SXD-QLN ban hành ngày 20 tháng 11 năm 2015</li>
            <li class="mb-0">Sổ đỏ lâu dài cho người Việt Nam và 50 năm sở hữu dành cho người nước ngoài</li>
          </ul>
        `,
        price: `
          <p>
            <strong>Giá bán:</strong> Từ <strong>39.5 đến 86 triệu/m2</strong> phụ thuộc vào vị trí
          </p>
          <p>
            Phương thức thanh toán:</br>
            Tiến độ đóng tiền của dự án Luxury Apartment Đà Nẵng chia làm 2 đợt thanh toán:
            <strong>Đặt cọc: 100.000.000 VNĐ/căn</strong> </br>
            <strong>Đợt 1:</strong> 05 ngày kể từ ngày đặt cọc: Đóng 50% giá bán căn hộ (Bao gồm VAT và tiền đặt cọc)</br>
            <strong>Đợt 2:</strong> 07 ngày kể từ ngày đến hạn thanh toán đợt 1. Thanh toán số tiền còn lại và 2% kinh phí bảo trì căn hộ
          </p>
        `,
      },
      gallery: {
        picture: [ 
          {src : './images/gallery/luxurydanang/pictures/1.jpg'}, 
          {src : './images/gallery/luxurydanang/pictures/2.jpg'},
          {src : './images/gallery/luxurydanang/pictures/3.jpg'},
          {src : './images/gallery/luxurydanang/pictures/4.jpg'},
          {src : './images/gallery/luxurydanang/pictures/5.jpg'},
          {src : './images/gallery/luxurydanang/pictures/6.jpg'}
        ],
        guide: [ 
          {src : './images/gallery/luxurydanang/guides/1.jpg'},
          {src : './images/gallery/luxurydanang/guides/2.jpg'},
          {src : './images/gallery/luxurydanang/guides/3.jpg'}
        ],
        position: [ 
          {src : './images/gallery/luxurydanang/positions/1.jpg'},
          {src : './images/gallery/luxurydanang/positions/2.jpg'}
        ],
      },
      website: "",
      facebook: "",
      youtube: "",
      leaflet: "",
      brochure: "https://drive.google.com/open?id=1TDuCge-OERRmDa5sBG0ch0HhKRkg18Gn"
    }

block container
  include ../layouts/header
  include _sec_1
  include _sec_2
  include _sec_3
  include _sec_4
  include _sec_5
  include _sec_6
  include ../layouts/footer
  include ../layouts/modal