extends ../layouts/layout_project

block vars
  -title = 'VIREX | Luxury Da Nang'
  -bodyClass = 'project-page'
  -menuIndex = 1
  -lang = 'en'
  -pageName= 'project_luxury'
  include ../../data/data.pug
  -
    project = {
      banner:"./images/image-luxury-danang.jpg",
      name: "Alphanam Luxury Apartment Da Nang",
      address: "No.120 Vo Nguyen Giap Street (Intersection of Tran Huu Tuoc and Vo Nguyen Giap), Phuoc My Ward, Son Tra District, Da Nang City",
      info: {
          model: "Apartments",
          investor: "Alphanam Real Estate Joint Stock Company",
          price: "<strong>> 39.5 million VND /m2</strong> depending on the location"
      },
      detail: {
        text: `Luxury Apartment offers guests large living spaces and broad views towards My Khe beach and the mountains of Da Nang. Located on 
          Vo Nguyen Giap, adjacent to a plot of land to be developed as a park, Luxury Apartment offers guests a private spot on the beach that is 
          quiet, away from the road, yet central enough to explore the city. It is the perfect way to experience life in Da Nang, known for its high 
          quality of life. </br></br>
          With a bustling tourism industry and fast growing economy, Da Nang is seeing a growth that is unmatched by other cities in Vietnam,
          consistently reaching double digits. With the current growth rate of Da Nang, it will develop not just as a tourist destination but
          as a global business destination as well.
        `,
        more: ``
      },
      area: {
        contruction: {
          value: "55,091 m2",
          desc: "Total building floor area"
        },
        greenery: {
          value: "3.137 m2",
          desc: "Construction area"
        },
        mansion: {
          value: "232 units",
          desc: "Number of apartments"
        },
        apartment: {
          value: "390 units",
          desc: "Total hotel rooms"
        }
      },
      other: {
        investor: `
          <p>Alphanam Luxury Apartment is owned by Alphanam Real Estate Joint Stock Company; one of the top 10 most reputable Real Estate firms in Vietnam.</p>
          <p>Alphanam Group is developing a series of projects across Vietnam with their partners Marriott International and the InterContinental Hotels Group.
           Together they bring Vietnam a wealth of experience and are raising the bar for Vietnam’s Hospitality Industry.</p>
        `,
        design: `
          <ul>
            <li>
             <strong>Designer:</strong> Luxury Apartment is designed by Salvador Pérez Arroyo and partners.
              With architectural work done by 79Pro Vietnam and DPA Singapore.
            </li>
            <li>
              <strong>Main Architect: Salvador Perez Arroyo</strong>
              <ul style="list-style-type: circle">
                <li class="mb-0">Nationality: Spanish</li>
                <li class="mb-0">Top 10 famous architects in the world</li>
                <li class="mb-0">Over 40 years of experience</li>
                <li class="mb-0">Awarded with more than 50 prestigious awards</li>
                <li class="mb-0">Published many books on architecture</li>
                <li class="mb-0">Postmodern architecture style</li>
              </ul>
            </li>
            <li>
              <strong>Apartments’ Public Areas Managed by: Savills Group (With over 20 years of real estate management experience in Vietnam and managing over
                65 million square meters of housing and commercial space worldwide).
            </li>
          </ul>
        `,
        construct: `
            <p><strong>Construction contractor: </strong>Delta Civil and Industrial Construction Company</p>
            <p>DELTA was established in 1993, specializing in contracting construction of civil and industrial projects. DELTA works with high quality, technical
             and aesthetic requirements such as hotels, office complexes and private houses.</p>
            <p>Over the past 25 years of construction and development, DELTA has become a large construction corporation with 12 member companies, combining 2500
             engineers and architects with state-of-the-art equipment.</p>
          `,
        position: `
          <p>
            Situated on the road that proudly bears the name of General Vo Nguyen Giap,with Pham Van Dong beach and Bien Dong park nearby, Luxury
             Apartment possesses one of the most desirable locations in Da Nang. With its prime location on My Khe Beach, Luxury Apartment’s ability
              to connect guests with the tourism spots of Da Nang is second to none. Son Tra Peninsula, Linh Ung Pagoda, Song Han Bridge, Hoi An
               Ancient Town and Hue are close by and are few of the must see places when visiting Da Nang city. Also, the international airport is
                10 minutes and Da Nang CBD is just 5 minutes away.
          </p>
          <p>Distances:</p>
          <ul>
            <li>City International Airport: 5Km</li>
            <li>Center of Danang city: 3km</li>
            <li>Han River Dragon Bridge: 3 Km</li>
            <li>Son Tra Peninsula: 3 Km</li>
            <li>Linh Ung Pagoda: 4 Km</li>
            <li>Ba Na Hills Tourist Area: 20km</li>
            <li>Hoi An Ancient Town: 22Km</li>
            <li>Da Nang Train Station: 4 Km</li>
          </ul>
        `,
        design_info: `
          <p>Alphanam Luxury Apartment has 9 different apartment types designed in a 1 or 2 bedroom layout, with all rooms boasting beautiful views 
          towards either Pham Van Dong beach, downtown or the majestic Son Tra Peninsula.</p>
           <ul>
            <li>1 bedroom apartment: 58m2 - 65m2</li>
            <li>2 bedrooms: 73m2 - 75m2 - 79m2 - 102m2</li>
           </ul>
        `,
        utility: `
          <p>
            Alphanam Luxury Apartment is fully furnished with modern high-quality amenities and managed by a professional international 
            management team in order to provide a comfortable living experience.
          </p>
          <p>Facilities include:</p>
          <ul>
            <li>Infinity pool</li>
            <li>Modern gym</li>
            <li>Restaurant</li>
            <li>Rooftop bar/li>
            <li>24/7 Security </li>
            <li>Reception</li>
            <li>Parking</li>
            <li>High-speed Wi-Fi</li>
            <li>Housekeeping</li>
            <li>Laundry</li>
          </ul>
          <p>Luxury Apartment enjoys a unique location right on the beach of My Khe - one of the five most charming beaches on the planet.
           Considered to be the most desirable resort paradise in Vietnam, annually attracts large number of visitors and become an ideal
            destination for events of the coastal city of Da Nang.</p>
          <p>The Alphanam Luxury Apartment project is interlinked to the Bien Dong Park and the prolonged Vo Nguyen Giap route, which makes
           it easy to travel, connect to the international airport areas and the administrative center of Da Nang.</p>
        `,
        progress: `
          <p>Contruction Progress</p>
          <p>
            Condo handing over time: Q1/2017</br></br>
            Condo completion: 100% fully equipped
          </p>
          <p>Legal</p>
          <ul>
            <li class="mb-0">Permission for sale and lease of Da Nang City Construction Department No.7656 / SXD-QLN dated 20 November 2015</li>
            <li class="mb-0">Long-term red book for Vietnamese and 50 years of ownership for foreigners</li>
          </ul>
        `,
        price: `
          <p>
            <strong>Price:</strong> from <strong>39.5 to 86 million VND/m2</strong> depending on the location
          </p>
          <p>
            Payment methods</br>
            Paying for Luxury Apartment Danang is divided into 2 payment periods:
            <ul>
              <li><strong>Deposit: 100 million VND/unit</strong></li>
              <li><strong>Stage 1:</strong> 5 days from the date of deposit: 50% of the selling price (including VAT and deposit)</li>
              <li><strong>Stage 2:</strong> 7 days from the first payment date. Payment of the remaining amount and 2% for the apartment maintenance fee.</li>
            </ul>
          </p>
        `,
      },
      gallery: {
        picture: [ 
          {src : './images/gallery/luxurydanang/pictures/1.jpg'}, 
          {src : './images/gallery/luxurydanang/pictures/2.jpg'},
          {src : './images/gallery/luxurydanang/pictures/3.jpg'},
          {src : './images/gallery/luxurydanang/pictures/4.jpg'},
          {src : './images/gallery/luxurydanang/pictures/5.jpg'},
          {src : './images/gallery/luxurydanang/pictures/6.jpg'},
          {src : './images/gallery/luxurydanang/pictures/7.jpg'},
          {src : './images/gallery/luxurydanang/pictures/8.jpg'},
          {src : './images/gallery/luxurydanang/pictures/9.jpg'},
          {src : './images/gallery/luxurydanang/pictures/10.jpg'}
        ],
        guide: [ 
          {src : './images/gallery/luxurydanang/guides/1.jpg'},
          {src : './images/gallery/luxurydanang/guides/2.jpg'},
          {src : './images/gallery/luxurydanang/guides/3.jpg'}
        ],
        position: [ 
          {src : './images/gallery/luxurydanang/positions/1.jpg'},
          {src : './images/gallery/luxurydanang/positions/2.jpg'}
        ],
      },
      website: "",
      facebook: "",
      youtube: "",
      leaflet: "",
      brochure: "https://drive.google.com/open?id=1TDuCge-OERRmDa5sBG0ch0HhKRkg18Gn"
    }

block container
  include ../layouts/header
  include _sec_1
  include _sec_2
  include _sec_3
  include _sec_4
  include _sec_5
  include _sec_6
  include ../layouts/footer
  include ../layouts/modal