extends ../layouts/layout_project

block vars
  -title = 'Eden Rose'
  -bodyClass = 'project-page'
  -menuIndex = 1
  -lang = 'vi'
  -pageName= 'project_eden'
  include ../../data/data.pug
  -
    project = {
      banner:"./images/image-eden-rose.jpg",
      name: "The Eden Rose Thanh Trì",
      address: "Xã Thanh Liệt, Huyện Thanh Trì, Hà Nội",
      info: {
          model: "Nhà liền kề, biệt thự liền kề, shophouse, villa",
          investor: "Công ty CP đầu tư bất động sản <strong>VimeFulland</strong>",
          price: " Từ <strong>60</strong> đến <strong>70 triệu/m2</strong>"
      },
      detail: {
        text: `Lấy hoa hồng là nguồn cảm hứng, ý tưởng xây dựng chủ đạo cho những căn biệt thự, nhà vườn liền kề, Vimefulland chọn cho đứa con
         thứ ba của mình cái tên The Eden Rose – loài hồng nhung đỏ sẫm mang vẻ đẹp cổ điển vượt thời gian, kiêu sa nhất nhưng cũng gần gũi nhất</br>
         Giữa lòng Hà Nội, The Eden Rose hiện hữu như bức tranh kiều diễm của 8 loài hoa hồng với 8 mùi hương và 18 màu sắc khác nhau . Đến với nơi
          đây, cư dân có thể thong dong dạo bước trên những con đường thấm đẫm hương hoa nồng nàn, thả hồn và đắm chìm trong không gian lãng mạn nhất
           thủ đô.
         `,
        more: ``
      },
      area: {
        contruction: {
          value: "80.616 m2",
          desc: "Tổng diện tích xây dựng"
        },
        greenery: {
          value: "65%",
          desc: "Diện tích cây xanh và hồ điều hòa"
        },
        mansion: {
          value: "130 - 300 m2",
          desc: "Diện tích các căn biệt thự liền kề"
        },
        apartment: {
          value: "82 - 218 m2",
          desc: "Diện tích các căn liền kề"
        }
      },
      other: {
        investor: `
          <ul>
            <li>
              <p>
                Chủ đầu tư The Eden Rose chính là tập đoàn dược phẩm lớn nhất Việt Nam Vimedimex. Thành lập từ năm 1984, tại TpHCM, ngay 
                từ những ngày đầu thành lập, với đặc tính là một Tập đoàn kinh tế đa ngành, cung cấp các sản phẩm, dịch vụ với chất lượng tốt 
                nhất cho khách hàng và cộng đồng
              </p>
              <ul>
                <li class="mb-0">Thành lập: tiền thân công ty cổ phần y dược phẩm Vimedimex – Vimedimex Pharma năm 1984. (33 năm)</li>
                <li class="mb-0">Tổng số lượng nhân viên: 1000 cán bộ</li>
                <li class="mb-0">Đơn vị thành viên: dược phẩm (06), bất động sản (22),tài chính (02)</li>
                <li class="mb-0">Doanh thu 2016: 14.000 tỷ</li>
                <li class="mb-0">Các dự án đã triển khai: The Eden Rose Thanh Liệt, Toà nhà Citilight thành phố Hồ Chí Mính, The Emerald Center 
                Park Mỹ Đình, Cao ốc văn phòng Vimedimex Group Building, Velleville Hà Nội</li>
              </ul>
              <p>
                Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự The Eden Rose Thanh Trì đã xây dựng được thương hiệu 
                Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.
              </p>
            </li>
          </ul>
        `,
        design: `
          <ul>
            <li>
              Đơn vị thiết kế biệt thự liền kề The Eden Rose là công ty thiết kế tới từ nước Pháp NKB Archi. Với thế mạnh là đơn vị thiết kế những công
               trình theo kiến trúc tân cổ hiện đại hay chúng ta hay nói là tân cổ điển.
            </li>
            <li>
              Việc lựa chọ NKB Archi đã được chủ đầu tư cân nhắc và tìm hiểu rất kỹ qua các công trình nổi tiếng khác và cũng phù hợp với định hướng
               phát triển sản phẩm bất động sản xanh và thân thiện với môi trường.
            </li>
            <li>
              Với lối thiết kế kiến trúc tân cổ điển và không gian cũng như các tiện ích chăm sóc sức khỏe đã tạo nên một công trình trường tồn mãi với thời gian
               như The Eden Rose Thanh Trì.
            </li>
            <li>
              Đơn vị Quản lý vận hành sau khi bàn giao nhà: Tập đoàn Savills (Với 20 năm kinh nghiệm quản lý Bất động sản tại Việt Nam và quản lý trên 65
               triệu m2 diện tích Nhà ở và thương mại trên toàn thế giới).
            </li>
          </ul>
        `,
        construct: `
          <ul>
            <li>
              Đơn vị thi công dự án liền kề <strong>The Eden Rose</strong> là chủ thầu xây dựng <strong>công ty cổ phần Ecoba Việt Nam</strong> với
             thế mạnh là đơn vị thi công những công trình xanh thân thiện với môi trường bậc nhất hiện nay.
            </li>
            <li>
              <strong>Ecoba</strong> đã đem đến cho dự án một phong cách xây dựng hoàn toàn khác lạ khi mọi công nghệ thi công đơn vị này sử dụng 
              để thi công dự án <strong>biệt thự The Eden Rose Thanh Trì</strong> đều là tiên tiến nhất thị trường.
            </li>
            <li>
             Chắt lọc những nét tinh túy từ các dự án  nổi bật tại Hà Nội như Ecopark, Park Hill, The Emerald để ứng dụng đem đến cho dự án một vẻ đẹp hoàn mỹ,
              chưa bao giờ xuất hiện tại Thủ Đô.
            </li>
          </ul>
          `,
        position: `
          <ul>
            <li>
              Sở hữu một vị trí đắc địa dự án chỉ cách <strong>trung tâm Hà Nội 10km</strong>. Tọa lạc trên mảnh đất có diện tích khá 
              rộng 8Ha của <strong>xã Thanh Liệt – Huyện Thanh Trì – Thành Phố Hà Nội</strong>
            </li>
            <li>
              <strong>Liền kề The Eden Rose</strong> có vị trí chiến lược quan trọng trong việc <strong>mở rộng và phát triển thủ đô</strong>. Theo như
              kế hoạch phát triển trong tương lai của thành phố Hà Nội thì huyện Thanh Trì sẽ lên Quận trong giai đoạn từ 2020 đến 2025. Đây là một tín 
              hiệu đáng mừng của cư dân khi được sống ở đây.
            </li>
            <li>
              <strong>Vị trí The Eden Rose Thanh Trì</strong> gần ngay với nhiều tuyến đường huyết 
              mạch của thành phố Hà Nội có thể kể tới như : <strong>đường Vành ĐaI 3, Đường Linh Đàm, Kim Giang,…</strong> Tại đây có thể kết nối dễ dàng 
              với các quận khác trong thành phố và các tỉnh lân cận như <strong>Bắc Ninh, Vĩnh Phúc, Hưng Yên,…</strong>
            </li>
            <li>
              <strong>Liền kề The Eden Rose Thanh Trì</strong> còn tiếp giáp với các chuỗi đô thị hiện đại khu vực phía Tây và Đông Nam của Thành 
              Phố Hà Nội như : <strong>biệt thự cao cấp Park City, khu đô thị Văn Phú, Dương Nội,…</strong> Ngoài ra dự án còn ngay cạnh những tiện ích 
              có sẵn như <strong>Bệnh Viện K, Ga Hà Đông, Bệnh Viên Quân Y,…</strong>
            </li>
          </ul>
        `,
        design_info: `
          <ul>
            <li>
              Dự án gồm có 52 căn biệt thự liền kề và 181 căn nhà liền kề được xây dựng và thiết kế theo phong cách sang trọng và hiện đại.
            </li>
            <li>
              Với diện tích khá đa dạng từ 82 – 218m2 đối với 181 căn liền kề và từ 130 – 300m2 đối với 52 căn biệt thự đáp ưng hoàn toàn mọi
                nhu cầu thiết yếu của khách hàng.Cái tên The Eden Rose được đặt theo cái tên của kiến trúc sư người Pháp Francois Barberot.
            </li>
            <li>
              Thiết kế căn hộ của chính shop house được thiết kế nằm ngay trên mặt đường chính sẽ giúp cho việc tiếp cận khách hàng và cư dân
               trở nên dễ dàng hơn. Cầu thang bố trí dọc theo chiều dài nhà giúp làm giảm diện tích phụ tăng độ thoáng cho căn hộ nhờ đó gia 
               chủ có thể triển khai kinh doanh các mặt hàng, cho thuê mặt bằng, tư doanh.
            </li>
          </ul>
        `,
        utility: `
          <ul>
            <li>
              Với mong muốn đem đến một cuộc sống lý tưởng như trong mơ <strong>“Sống sạch và sang trọng giữa thiên nhiên”</strong>. Với diện tích 
              thiết kế không gian xanh và hồ điều hòa lên tới <strong>1 Ha</strong> trong tổng diện tích xây dựng là <strong>8Ha.</strong>
            </li>
            <li>
              Dự án liền kề <strong>The Eden Rose</strong> có nhiều tiện ích như: trạm y tế, bệnh viện kết hợp với các khu thể thao liên hợp với
              hệ thống bể bơi bồn sục, sân tập tenis, bóng chuyền cầu lông, khu chạy bộ.</li>
            <li>
              Cũng như hầu hết các công trình đẳng cấp 5 sao khác biệt thự <strong>liền kề The Eden Rose</strong> đã dành ra một khối lượng diện tích 
              xây dựng khá lớn lên tới <strong>30% diện tích đất</strong> để xây dựng các công trình tiện ích như trường mẫu giáo, nhà tre, vườn BBQ, khu 
              thương mại dịch vụ, bãi để xe thông minh,…
            </li>
            <li>
              Hệ thống an ninh ở khu <strong>liền kề The Eden Rose Thanh Trì</strong> là <strong>hệ thống an ninh hiện đại nhiều lớp với tường
                rào bao quanh tòa bộ khuôn viên, camera quan sát.</strong> Đặc biệt đó là hệ thống nhân viên bảo vệ có trình độ nghiệp vụ cao được 
                tuyển chọn kĩ lưỡng. Đây là một tiêu chuẩn được dánh giá rất cao tại <strong>The Eden Rose.</strong>
            </li>
          </ul>
        `,
        progress: `
          <p>Tiến độ thi công</p>
          <ul>
            <li class="mb-0">
              Tính tới thời điểm hiện tại <strong>7/2017</strong> dự án đã hoàn thiện xong phần <strong>cở sở hạ tầng bên dưới.</strong> Các cảnh
              quan dã được lên kế hoạch thi công một cách cụ thể, tỷ mỹ tới từng chi tiết .
            </li>
            <li class="mb-0">
              Vào cuối tháng <strong>10/2017</strong> tiến độ thi công <strong>dự án biệt thự liền kề The Eden Rose</strong> 
              đã có đủ các giấy phép xây dựng và chính thức đưa ra thị trường <strong>giá bán cụ thể.</strong>
             </li>
          </ul>
          <p>Pháp lý</p>
          <ul>
            <li class="mb-0">Giấy phép bán hàng của Sở Xây Dựng số 8201/SXD-QLN ban hành ngày 06 tháng 9 năm 2017</li>
            <li class="mb-0">Cam kết bảo lãnh của Ngân hàng NCB số 127/2016/CV-NCB ban hành ngày 10 tháng 10 năm 2016</li>
            <li class="mb-0">Giấy phép xây dựng số 637/GPXD ban hành ngày 08 tháng 5 năm 2017</li>
            <li class="mb-0">QĐ số 1914/QĐ-UBND v/v phê duyệt Quy hoạch chi tiết Nha ở thấp tầng, Khu cây xanh công cộng 
              kết hợp hồ nước và các chức năng khác, tỷ lệ 1/500 ban hành ngày 20 tháng 04 năm 2016</li>
            <li class="mb-0">TB THU HỒI ĐẤT số 530/TB-UBND ban hành ngày 09 tháng 7 năm 2016</li>
            <li class="mb-0">QĐ Chủ Trương đầu tư số 4171/QĐ-UBND ban hành ngày 01 tháng 8 năm 2016</li>
          </ul>
        `,
        price: `
          <p>
            Từ 60 - 70 triệu/m2 đây là giá dự kiến được xây dựng trên nhiều tiêu chí khác nhau.
          </p>
          <p>
            Phương thức thanh toán:</br>
            <strong>Đặt cọc: 100.000.000 đồng/ căn</strong> </br>
            <strong>Đợt 1:</strong> Thanh toán 30% giá trị hợp đồng ngay khi ký HĐMB (Bao gồm VAT và tiền đặt cọc)</br>
            <strong>Đợt 2:</strong> Thanh toán 20% giá trị hợp đồng ngày dự kiến xây dựng sàn tầng 2 của căn nhà (Đã bao gồm VAT)</br>
            <strong>Đợt 3:</strong> Thanh toán 20% giá trị hợp đồng ngày dự kiến đổ mái của căn nhà (Quý III/2018) (Đã bao gồm VAT)</br>
            <strong>Đợt 4:</strong> Thanh toán 25% giá trị hợp đồng + Kinh phí bảo trì vào ngày có thông báo bàn giao nhà (Đã bao gồm VAT)</br>
            <strong>Đợt 5:</strong> Thanh toán 5% giá trị hợp đồng trong vòng 5 ngày có thông báo bàn giao Giấy chứng nhận quyền sử dụng đất và 
            sở hữu tài sản gắn liền với đất (Đã bao gồm VAT)
          </p>
        `,
      },
      gallery: {
        picture: [ 
          {src : './images/gallery/edenrose/pictures/1.jpg'}, 
          {src : './images/gallery/edenrose/pictures/2.jpg'},
          {src : './images/gallery/edenrose/pictures/3.jpg'},
          {src : './images/gallery/edenrose/pictures/4.jpg'},
          {src : './images/gallery/edenrose/pictures/5.jpg'},
          {src : './images/gallery/edenrose/pictures/6.jpg'},
          {src : './images/gallery/edenrose/pictures/7.jpg'}, 
          {src : './images/gallery/edenrose/pictures/8.jpg'},
          {src : './images/gallery/edenrose/pictures/9.jpg'},
          {src : './images/gallery/edenrose/pictures/10.jpg'},
          {src : './images/gallery/edenrose/pictures/11.jpg'}
        ],
        guide: [ 
          {src : './images/gallery/edenrose/guides/1.jpg'},
          {src : './images/gallery/edenrose/guides/2.jpg'},
          {src : './images/gallery/edenrose/guides/3.jpg'},
          {src : './images/gallery/edenrose/guides/4.jpg'}
        ],
        position: [ 
          {src : './images/gallery/edenrose/positions/1.jpg'},
          {src : './images/gallery/edenrose/positions/2.jpg'},
          {src : './images/gallery/edenrose/positions/3.jpg'}
        ],
      },
      website: "https://virex.vn/project_eden.html",
      facebook: "https://www.facebook.com/The-Eden-Rose-Thanh-Tr%C3%AC-198878267320089/",
      youtube: "https://www.youtube.com/watch?v=vm0__GUukOY",
      leaflet: "",
      brochure: "https://drive.google.com/open?id=0ByBL-Ytzd4EpZHgzcHRHM2pZVzA"
    }

block container
  include ../layouts/header
  include _sec_1
  include _sec_2
  include _sec_3
  include _sec_4
  include _sec_5
  include _sec_6
  include ../layouts/footer
  include ../layouts/modal