extends ../layouts/layout_project

block vars
  -title = 'VIREX | Golden City An Giang'
  -bodyClass = 'project-page'
  -menuIndex = 1
  -lang = 'vi'
  -pageName= 'project_goldencity'
  include ../../data/data.pug
  -
    project = {
      banner:"./images/image-goldencity.jpg",
      name: "Golden City An Giang",
      address: "Phường Mỹ Hòa, Thành Phố Long Xuyên, Tỉnh An Giang",
      info: {
          model: `Biệt thự, nhà phố thương mại (shophouse), nhà liền kề`,
          investor: `Công ty cổ phần dịch vụ và thương mại <strong>Đông Á</strong> (thuộc <strong>Alphanam Group</strong>)`,
          price: `<strong>Giá đất:</strong> 15.5 triệu/m2 </br> <strong>Hoàn thiện nhà:</strong> Xây thô 3,5 tầng`
      },
      detail: {
        text: `Chúng tôi tin rằng cuộc sống tốt lành cho mọi người là sự hòa quyện giữa kiến trúc hiện đại và không gian hưởng
         thụ hòa mình với thiên nhiên. Được bao bọc bởi dòng sông Long Xuyên thơ mộng, Golden City An Giang hứa hẹn đem đến những 
         trải nghiệm đẳng cấp trong lòng thành phố xanh, giữ gìn nét “hào sảng, phóng khoáng” đậm chất miền Tây Nam Bộ.`,
        more: ``,
      },
      area: {
        contruction: {
          value: "48,92 ha ",
          desc: "Tổng diện tích xây dựng"
        },
        greenery: {
          value: "55%",
          desc: "Tỷ lệ diện tích cảnh quan"
        },
        mansion: {
          value: "300m2 trở lên, 3 tầng",
          desc: "Biệt thự"
        },
        apartment: {
          value: "100m2 trở lên, 3,5 tầng",
          desc: "Nhà liền kề "
        }
      },
      other: {
        investor: `
          <p>
            Công ty Cổ phần Dịch vụ và Thương mại Đông Á là một thành viên của Alphanam Group – Tập đoàn kinh tế đa ngành hàng đầu 
            Việt Nam. Với mong muốn xây dựng một khu đô thị mang tính biểu tượng tại Tp Long Xuyên, Đông Á không ngừng nỗ lực để mang tới dự án Golden
            City An Giang những yếu tố độc đáo và đẳng cấp nhất. Kinh nghiệm hơn 20 năm hoạt động trên thị trường, cùng tiềm lực tài chính vững mạnh của 
            chủ đầu tư sẽ là minh chứng đảm bảo chất lượng công trình và tiến độ tại dự án Golden City An Giang.
          </p>
          <ul>
            <li class="mb-0">Trụ sở: 47 Vũ Trọng Phụng, phường Thanh Xuân Trung, quận Thanh Xuân, thành phố Hà Nội.</li>
            <li class="mb-0">Văn phòng đại diện: Tòa nhà L4 -1 Khu đô thị Golden City An Giang</li>
            <li class="mb-0">Tel: 0766 252 949</li>
            <li class="mb-0">Tổng Giám Đốc: Ông Bùi Đình Quý</li>          
          </ul>
          `,
        design: `
          <ul>
            <li>
              <strong>Đơn vị thiết kế :</strong> CÔNG TY CỔ PHẦN TƯ VẤN THIẾT KẾ SALVADOR PEREZ ARROYO VÀ CỘNG SỰ
            </li>
            <li>
              <strong>Chủ trì thiết kế :</strong>
              <ul style="list-style-type: circle">
                <li class="mb-0">Tiến sỹ/Kiến trúc sư: Salvador Perez Arroyo</li>
                <li class="mb-0">Quốc tịch: Tây Ban Nha</li>
                <li class="mb-0">Top 10 kiến trúc sư nổi tiếng thế giới</li>
                <li class="mb-0">40 năm kinh nghiệm</li>
                <li class="mb-0">Hơn 50 giải thưởng uy tín</li>
                <li class="mb-0">Tác giả nhiều cuốn sách về kiến trúc</li>
                <li class="mb-0">Trường phái kiến trúc hậu hiện đại</li>
              </ul>
            </li>
            <li><strong>Đối tác song hành: VP Bank, Vietcombank</strong></li>
          </ul>
          `,
        construct: ``,
        position: `
          <ul>
            <li>
              Với những lợi thế không thể bỏ qua, miền Tây đang là chốn dừng chân lý tưởng cho các nhà đầu tư bât động sản cao cấp.
               Trong đó, An Giang là một thị trường mới nổi đang được xem là tiềm năng bậc nhất tại đây.
            </li>
            <li>
              Một trong những dự án đang thu hút sự quan tâm là Golden City An Giang. Với vị trí đắc địa ngay trung tâm TP. Long Xuyên,
               thành phố lớn thứ nhì Đồng bằng sông Cửu Long. Tiềm năng phát triển ở đây luôn được giới đầu tư đánh giá cao, UBND tỉnh An
                Giang cũng định hướng đến 2020, TP.Long Xuyên sẽ trở thành thành phố loại 1 của tỉnh.
            </li>
            <li>
              Golden City An Giang tọa lạc tại phường Mỹ Hòa, thành phố Long Xuyên, tỉnh An Giang. Sở hữu vị trí vàng đắc địa tại ngã ba giao lộ
              Nguyễn Hoàng và Nguyễn Thái Học, dự án kết nối linh hoạt với các khu vực quan trọng của tỉnh An Giang bằng hệ thống giao thông thuận
              tiện. Dự án nằm cạnh nhiều cơ quan hành chính cùng các tiện ích chung của khu vực, thuận tiện để cư dân tận hưởng trọn vẹn cuộc sống 
              tiện nghi.
              <ul style="list-style-type: circle">
                <li class="mb-0">Phía Bắc giáp sông Long Xuyên</li>
                <li class="mb-0">Phía Nam giáp đường Hà Hoàng Hổ (Đường tỉnh 943)</li>
                <li class="mb-0">Phía Đông giáp đường Nguyễn Hoàng với Thành Ủy Long xuyên, trường Quốc tế GIS …</li>
                <li class="mb-0">Phía Tây giáp Khu liên hợp văn hóa, thể thao, dịch vụ, hội chợ, triển lãm & dân cư</li>
              </ul>
            </li>
         </ul>`,
        design_info: `
          <ul>
            <li>
              Nhà phố thương mại (Shophouse):
              <ul style="list-style-type: circle">
                <li class="mb-0">100m2 (5mx20m)</li>
                <li class="mb-0">114m2 (6mx19m)</li>
                <li class="mb-0">120m2 (6mx20m)</li>
              </ul>
            </li>
            <li>
              Biệt thự
              <ul style="list-style-type: circle">
                <li class="mb-0">300ms (15mx20m)</li>
              </ul>
            </li>
            <li>
              Nhà liền kề
              <ul style="list-style-type: circle">
                <li class="mb-0">100m2 (5mx20m)</li>
                <li class="mb-0">114m2 (6mx19m)</li>
                <li class="mb-0">120m2 (6mx20m)</li>
              </ul>
            </li>
          </ul>
        `,
        utility: `
          <ul>
            <li>
              <i>Quảng trường Tôn Đức Thắng:</i> Tọa lạc tại trung tâm Khu đô thị Golden City An Giang, quảng trường Tôn Đức Thắng sẽ trở thành biểu tượng 
              mới của thành phố Long Xuyên. Nơi đây sẽ diễn ra nhiều hoạt động văn hóa, giải trí thu hút đông đảo du khách và người dân tới tham quan và vui
              chơi.
             </li>
            <li>
              <i>Phố mua sắm sầm uất:</i> Tại Golden City An Giang, cư dân sẽ được trải nghiệm một thiên đường mua sắm đẳng cấp với dãy nhà phố thương mại tập 
              hợp các thương hiệu nổi tiếng, đáp ứng tiêu chuẩn Quốc tế.
            </li>
            <li>
              <i>Công viên cây xanh:</i> Hòa mình giữa không gian xanh mát tại Golden City An Giang với hệ thống cảnh quan và công viên cây xanh bao phủ khắp khu
              đô thị. Hành lang dạo bộ mang lại cho cư dân tương lai một cuộc sống yên
            </li>
            <li>
              <i>Tiện ích ngoại khu đồng bộ:</i> Sống ở vị trí trung tâm của thành phố Long Xuyên, cư dân tương lai của Golden City An Giang sẽ được tận hưởng những
              giá trị sống lý tưởng bậc nhất với nhiều tiện ích sẵn có trong khu vực như bệnh viện, trường học, siêu thị, cơ quan hành chính …
              <ul style="list-style-type: circle">
                <li class="mb-0">Trường quốc tế GIS</li>
                <li class="mb-0">Bệnh viện Quân – Dân Y </li>
                <li class="mb-0">Khu liên hợp thể thao</li>
                <li class="mb-0">Trung tâm hội chợ triển lãm, dịch vụ</li>
                <li class="mb-0">Bệnh viện Đa khoa tỉnh An Giang</li>
                <li class="mb-0">Siêu thị Lotte</li>
                <li class="mb-0">Đại học An Giang</li>
                <li class="mb-0">Trung tâm hành chính Long Xuyên</li>
                <li class="mb-0">UBND tỉnh An Giang</li>
              </ul>
            </li>
          </ul>
        `,
        progress: ` 
          <p><strong>Tiến độ thi công</strong></p>
          <ul>
            <li>Đầu tư xây dựng Khu đô thị Golden City thuộc Khu liên hợp văn hóa, thể thao, dịch vụ, hội chợ triển lãm và dân cư 
            với quy mô 43,39 ha bao gồm 02 giai đoạn như sau:</li>
            <li>Giai đoạn 1: 22,5 ha | Đã hoàn thành cơ sở hạ tầng. Sẵn sàng bàn giao lô đất cho chủ sở hữu</li>
            <li>Giai đoạn 2: 20,89 ha | Đang thi công</li>
          </ul>
          <p>
            <strong>Pháp lý</strong>
          </p>
          <ul>
            <li>Giấy chứng nhận đầu tư của UBND tỉnh An Giang số 521031000391 ban hành ngày 19 tháng 5 năm 2015</li>
            <li>Quyết định phê duyện đồ án 1/500 số 1405/QĐ-UBND của UBND tình An Giang ban hành ngày 09 tháng 5 năm 2017</li>
          </ul>
        `,
        price: `
          <p>
            <strong>Giá đất:</strong> 15.5 triệu/m2 tùy vị trí.</br>
            <strong>Hoàn thiện nhà:</strong> Xây thô 3,5 tầng
          </p>
          <p>
            Tiến độ thanh toán: 
            <strong>Đặt cọc: 100.000.000 đồng/01 nền</strong></br>
            <strong>Đợt 1:</strong> Chậm nhất 10 ngày, kể từ ngày đặt cọc và ký Hợp đồng đặt mua. 30% Tổng giá trị hợp đồng
            (Đã bao gồm VAT và tiền đặt cọc)</br>
            <strong>Đợt 2:</strong> Trong vòng 30 ngày, kể từ ngày thanh toán Đợt 1. 15% Tổng giá trị hợp đồng
            (Đã bao gồm VAT)</br>
            <strong>Đợt 3:</strong> Trong vòng 60 ngày, kể từ ngày thanh toán Đợt 1. 15% Tổng giá trị hợp đồng
            (Đã bao gồm VAT)</br>
            <strong>Đợt 4:</strong> Trong vòng 90 ngày, kể từ ngày thanh toán Đợt 1. 15% Tổng giá trị hợp đồng
            (Đã bao gồm VAT)</br>
            <strong>Đợt 5:</strong> Ngay khi ký Hợp đồng chuyển nhượng và bàn giao. 20% Tổng giá trị hợp đồng
            <strong>Đợt 6:</strong> Khi hoàn tất thủ tục nộp hồ sơ chuyển nhượng quyền sử dụng đất tại cơ quan nhà nước có thẩm quyền tại Long Xuyên. 
            5% Tổng giá trị hợp đồng (Đã bao gồm VAT)</br>
            <strong>Lưu ý :</strong> Nếu đợt thanh toán 4 & 5 trùng nhau thì Chủ đầu tư sẽ thông báo tới khách hàng trước 15 ngày.
          </p>
        `,
      },
      gallery: {
        picture: [ 
          {src : './images/gallery/goldencity/pictures/1.jpg'},
          {src : './images/gallery/goldencity/pictures/2.jpg'},
          {src : './images/gallery/goldencity/pictures/3.jpg'},
          {src : './images/gallery/goldencity/pictures/4.jpg'},
          {src : './images/gallery/goldencity/pictures/5.jpg'},
          {src : './images/gallery/goldencity/pictures/6.jpg'},
          {src : './images/gallery/goldencity/pictures/7.jpg'},
          {src : './images/gallery/goldencity/pictures/8.jpg'}
        ],
        guide: [ 
          {src : './images/gallery/goldencity/guides/1.jpg'},
          {src : './images/gallery/goldencity/guides/2.jpg'},
          {src : './images/gallery/goldencity/guides/3.jpg'},
          {src : './images/gallery/goldencity/guides/4.jpg'},
          {src : './images/gallery/goldencity/guides/5.jpg'},
          {src : './images/gallery/goldencity/guides/6.jpg'}
        ],
        position: [ 
          {src : './images/gallery/goldencity/positions/1.jpg'},
          {src : './images/gallery/goldencity/positions/2.jpg'},
          {src : './images/gallery/goldencity/positions/3.jpg'},
          {src : './images/gallery/goldencity/positions/4.jpg'},
          {src : './images/gallery/goldencity/positions/5.jpg'}
        ],
      },
      website: "http://goldencityangiang.vn/",
      facebook: "https://facebook.com/goldencityangiang",
      youtube: "https://www.youtube.com/watch?v=6gQf4Uf8gaw",
      leaflet: "",
      brochure: "https://drive.google.com/open?id=0B_8fWDtOsOgDX29sTHZQTmdqNTA"
    }

block container
  include ../layouts/header
  include _sec_1
  include _sec_2
  include _sec_3
  include _sec_4
  include _sec_5
  include _sec_6
  include ../layouts/footer
  include ../layouts/modal