extends ../layouts/layout_project

block vars
  -title = 'Project page'
  -bodyClass = 'project-page'
  -menuIndex = 2
  -
    project = {
      banner:"./images/image-eden-rose.jpg",
      name: "The Eden Rose Thanh Trì",
      address: "Xã Thanh Luyệt, Huyện Thanh Trì, Hà Nội",
      info: {
          model: "Nhà liền kề, biệt thự liền kề, shophouse, villa",
          investor: "Công ty CP đầu tư bất động sản <strong>VimeFulland</strong>",
          price: " Từ <strong>55</strong> đến <strong>60 triệu/m2</strong> Thời gian mở bán: <strong>Quý 4 năm 2017</strong>"
      },
      detail: {
        text: "<strong>The Eden Rose - Thanh Trì</strong> là dự án gồm tổ hợp các căn biệt thự, villa, shophouse liền kề cao cấp nhất khu vực. <strong>The Eden Rose</strong> được tích hợp mọi hệ thống tiện ích cao cấp và hiện đại trong một khuôn viên không gian xanh với bầu không khí trong lành. Hiếm có dự án nào đạt đủ các tiêu chí không gian sống lý tưởng như The Eden Rose. <br/><br/>Bên cạnh đó, <strong>The Eden Rose</strong> cũng sở hữu vị trí đắc địa, thuận tiện kết nối các quận cũng như trung tâm thủ đô Hà Nội thông qua hệ thống…",
        more: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc auctor egestas est, sed suscipit ante interdum vel. Quisque sed tellus at turpis eleifend imperdiet a in dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus non mauris et lectus tincidunt tincidunt a congue urna",
      },
      area: {
        contruction: {
          value: "8000 m2",
          desc: "Tổng diện tích xây dựng"
        },
        greenery: {
          value: "1000 m2",
          desc: "Diện tích cây xanh và hồ điều hòa"
        },
        mansion: {
          value: "130 - 300 m2",
          desc: "Diện tích các căn biệt thự liền kề"
        },
        apartment: {
          value: "82 - 218 m2",
          desc: "Diện tích các căn liền kề"
        }
      },
      other: {
        investor: "<ul><li>Chủ đầu tư dự án biệt thự liền kề <strong>The Eden Rose</strong> là Tập Đoàn Dực Phẩm Vimedimex lấy thương hiệu bất động sản là VimeFulland Được thành lập từ năm 1984 hoạt động trong nhiều lĩnh vực khách nhau như Y Tế và tài chính. Đặc biệt đó là Y Dược và Dược phẩm.</li><li>Với định hướng phát triển các sản phẩm chung cư và biệt thự liền kề ứng dụng những công nghệ mới giúp chăm sóc sức khỏe cho người dân. Dự án liền kề <strong>The Eden Rose</strong> là đứa con thứ hai sau dự án Beliver Hà Nội tại ô đất B4 Nam Trung Yên.</li><li>Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự <strong>The Eden Rose</strong> Thanh Trì đã xây dựng được thương hiệu Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.</li></ul>",
        design: "<ul><li>Cdự án biệt thự liền kề <strong>The Eden Rose</strong> là Tập Đoàn Dực Phẩm Vimedimex lấy thương hiệu bất động sản là VimeFulland Được thành lập từ năm 1984 hoạt động trong nhiều lĩnh vực khách nhau như Y Tế và tài chính. Đặc biệt đó là Y Dược và Dược phẩm.</li><li>Với định hướng phát triển các sản phẩm chung cư và biệt thự liền kề ứng dụng những công nghệ mới giúp chăm sóc sức khỏe cho người dân. Dự án liền kề <strong>The Eden Rose</strong> là đứa con thứ hai sau dự án Beliver Hà Nội tại ô đất B4 Nam Trung Yên.</li><li>Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự <strong>The Eden Rose</strong> Thanh Trì đã xây dựng được thương hiệu Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.</li></ul>",
        construct: "<ul><li>Chủ đầu tư dự án biệt thự liền kề <strong>The Eden Rose</strong> là Tập Đoàn Dực Phẩm Vimedimex lấy thương hiệu bất động sản là VimeFulland Được thành lập từ năm 1984 hoạt động trong nhiều lĩnh vực khách nhau như Y Tế và tài chính. Đặc biệt đó là Y Dược và Dược phẩm.</li><li>Với định hướng phát triển các sản phẩm chung cư và biệt thự liền kề ứng dụng những công nghệ mới giúp chăm sóc sức khỏe cho người dân. Dự án liền kề <strong>The Eden Rose</strong> là đứa con thứ hai sau dự án Beliver Hà Nội tại ô đất B4 Nam Trung Yên.</li><li>Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự <strong>The Eden Rose</strong> Thanh Trì đã xây dựng được thương hiệu Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.</li></ul>",
        position: "<ul><li>C đầu tư dự án biệt thự liền kề <strong>The Eden Rose</strong> là Tập Đoàn Dực Phẩm Vimedimex lấy thương hiệu bất động sản là VimeFulland Được thành lập từ năm 1984 hoạt động trong nhiều lĩnh vực khách nhau như Y Tế và tài chính. Đặc biệt đó là Y Dược và Dược phẩm.</li><li>Với định hướng phát triển các sản phẩm chung cư và biệt thự liền kề ứng dụng những công nghệ mới giúp chăm sóc sức khỏe cho người dân. Dự án liền kề <strong>The Eden Rose</strong> là đứa con thứ hai sau dự án Beliver Hà Nội tại ô đất B4 Nam Trung Yên.</li><li>Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự <strong>The Eden Rose</strong> Thanh Trì đã xây dựng được thương hiệu Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.</li></ul>",
        design_info: "<ul><li>Chủ đầu tư dự án biệt thự liền kề <strong>The Eden Rose</strong> là Tập Đoàn Dực Phẩm Vimedimex lấy thương hiệu bất động sản là VimeFulland Được thành lập từ năm 1984 hoạt động trong nhiều lĩnh vực khách nhau như Y Tế và tài chính. Đặc biệt đó là Y Dược và Dược phẩm.</li><li>Với định hướng phát triển các sản phẩm chung cư và biệt thự liền kề ứng dụng những công nghệ mới giúp chăm sóc sức khỏe cho người dân. Dự án liền kề <strong>The Eden Rose</strong> là đứa con thứ hai sau dự án Beliver Hà Nội tại ô đất B4 Nam Trung Yên.</li><li>Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự <strong>The Eden Rose</strong> Thanh Trì đã xây dựng được thương hiệu Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.</li></ul>",
        utility: "<ul><li>Chủ  tư dự án biệt thự liền kề <strong>The Eden Rose</strong> là Tập Đoàn Dực Phẩm Vimedimex lấy thương hiệu bất động sản là VimeFulland Được thành lập từ năm 1984 hoạt động trong nhiều lĩnh vực khách nhau như Y Tế và tài chính. Đặc biệt đó là Y Dược và Dược phẩm.</li><li>Với định hướng phát triển các sản phẩm chung cư và biệt thự liền kề ứng dụng những công nghệ mới giúp chăm sóc sức khỏe cho người dân. Dự án liền kề <strong>The Eden Rose</strong> là đứa con thứ hai sau dự án Beliver Hà Nội tại ô đất B4 Nam Trung Yên.</li><li>Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự <strong>The Eden Rose</strong> Thanh Trì đã xây dựng được thương hiệu Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.</li></ul>",
        progress: "<ul><li>Chủ đầu tư dự án liền kề <strong>The Eden Rose</strong> là Tập Đoàn Dực Phẩm Vimedimex lấy thương hiệu bất động sản là VimeFulland Được thành lập từ năm 1984 hoạt động trong nhiều lĩnh vực khách nhau như Y Tế và tài chính. Đặc biệt đó là Y Dược và Dược phẩm.</li><li>Với định hướng phát triển các sản phẩm chung cư và biệt thự liền kề ứng dụng những công nghệ mới giúp chăm sóc sức khỏe cho người dân. Dự án liền kề <strong>The Eden Rose</strong> là đứa con thứ hai sau dự án Beliver Hà Nội tại ô đất B4 Nam Trung Yên.</li><li>Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự <strong>The Eden Rose</strong> Thanh Trì đã xây dựng được thương hiệu Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.</li></ul>",
        price: "<ul><li>Chủ đầu tư  biệt thự liền kề <strong>The Eden Rose</strong> là Tập Đoàn Dực Phẩm Vimedimex lấy thương hiệu bất động sản là VimeFulland Được thành lập từ năm 1984 hoạt động trong nhiều lĩnh vực khách nhau như Y Tế và tài chính. Đặc biệt đó là Y Dược và Dược phẩm.</li><li>Với định hướng phát triển các sản phẩm chung cư và biệt thự liền kề ứng dụng những công nghệ mới giúp chăm sóc sức khỏe cho người dân. Dự án liền kề <strong>The Eden Rose</strong> là đứa con thứ hai sau dự án Beliver Hà Nội tại ô đất B4 Nam Trung Yên.</li><li>Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự <strong>The Eden Rose</strong> Thanh Trì đã xây dựng được thương hiệu Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.</li></ul>",
      },
      gallery: {
        picture: [ 
          {src : 'https://via.placeholder.com/960x480'}, 
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'}
        ],
        guide: [ 
          {src : 'https://via.placeholder.com/960x480'}, 
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
        ],
        position: [ 
          {src : 'https://via.placeholder.com/960x480'}, 
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'}
        ],
      }
    }

block container
  include _sec_1
  include _sec_2
  include _sec_3
  include _sec_4
  include _sec_5
  include _sec_6