extends ../layouts/layout_project

block vars
  -title = 'Laluna Nha Trang'
  -bodyClass = 'project-page'
  -menuIndex = 1
  -lang = 'en'
  -pageName= 'project_laluna'
  include ../../data/data.pug
  -
    project = {
      banner:"./images/image-laluna.png",
      name: "Condotel Swisstouches La Luna Resort – Marina Bay",
      address: "Vinh Hoa Urban Area, Nha Trang, Khanh Hoa",
      info: {
          model: "Hotel, Luxury Apartment",
          investor: "<strong>Ben Du Thuyen</strong> Hotel Joint Stock Company",
          price: "From 3000 USD/m2"
      },
      detail: {
        text: `
          La Luna Resort Nha Trang is a super condotel project was built on the “Golden Place" with a total area of ​​4.74ha in front of the most
           expensive sea area of Nha Trang City. When it officially put into operation, the project will provide to the market 1.977 5-star 
           international standard apartments which will meet the needs of residents for a high-quality resort.</br>
          Căn hộ La Luna Nha Trang mang phong cách thiết kế hiện đại từ những công trình kiến trúc của châu âu cùng không gian sống đẳng cấp,
          Swisstouches La Luna sẽ là một trong những điểm nghỉ dưỡng tuyệt vời để khách hàng có thể tận hưởng kỳ kỷ trọn vẹn cùng gia đình.
        `,
        more: ``
      },
      area: {
        contruction: {
          value: "4,74 ha",
          desc: "Area of ​​land use"
        },
        greenery: {
          value: "20%",
          desc: "Area of ​​ecological green space"
        },
        mansion: {
          value: "24m2-390m2",
          desc: "Size of apartments"
        },
        apartment: {
          value: "1997",
          desc: "Number of apartments"
        }
      },
      other: {
        investor: `
          <p>
            The project is invested by Marina Hotel JSC with its head office located at Nguyen Co Thach Street, 
            Vinh Hoa Urban Area, Vinh Hoa Ward, Nha Trang City, Vietnam.
          </p>
          <p>
            Ben Du Thuyen Hotel Joint Stock Company is a relatively new name, but has attracted the attention of numerous Real Estate Investors
             in Nha Trang with condotel Swisstouches La Luna Resort 5-star international standard. By choosing carefully the prime location with
              prestigious units for investment and strategic partnership, the investor of Ben Du Thuy Hotel Joint Stock Company believe that they
               will use their strengths in Real Estate to fulfill the trust and bring the effectiveness to the investors.
          </p>
          <p>
            Navigate to the style of exquisite design, unique and world-class, Ben Du Thuyen Hotel Joint Stock Company initially succeeded
             in cooperate with the world's leading hotel management brand Swisstouches Hotels & Resorts Group for managing the Swisstouches
              La Luna Resort luxury resort in Nha Trang to provide customers with excellent experiences and perfect service quality.
          </p>
        `,
        design: `
          <p><strong>Managed by: Swisstouches Hotel & Resort: </strong></p>
          <p>Swisstouches Hotel & Resort is a luxury hotel management brand from Switzerland, by using the system of 18,000 hotel and resort 
          named Swisstouches reach 5 star standards with research centers of cuisine, events, hotels which linked with 500,000 thousand travel
           agents to create a network of transnational booking, the occupancy rate is always reach 70%</p>
          <p><strong>Designers: Grandland Group</strong></p>
          <p>Leading Design Company in Hong Kong. The company has 20 years of experience with more than 1,500 design professionals in Hong Kong and abroad.</p>
          <p>The company won 500 design awards in Hong Kong and the world.</p>
          <p>Typical Design Projects: Guangzhou Grandview Marriott Hotel, Huizhou Egret Lake Sheraton Agile Sheraton Resort Hotel, Shan Hai Tian Marriott Hotel Sanya,
           Huzhou Sheraton Hot Sping Resort Hotel...</p>
        `,
        construct: `
          <p>Executing unit: Tan Ky Construction and Real Estate Corporation</p>
          <ul>
            <li>
              Tan Ky Construction and Real Estate Corporation (TAKCO) is a well-known brand name in the field of construction and installation
               in Vietnam with many key projects in major cities nationwide.
            </li>
            <li>
              TAKCO has achieved ISO 9001-2000 quality management system and many prestigious certificates and prizes in the country.
            </li>
            <li>
              Typical projects have been implemented: Sam Sung Electronics Factory, Da Nang Administrative Center, Azura Danang luxury apartment
               complex, Dai Quang Minh II villa area, Kingston Residence...
            </li>
          </ul>
          `,
        position: `
          <ul>
            <li>
              The diamond position is located at the foot of Tien mountain, the position of
              <strong>"Mountain Based, Ocean View"</strong> along the gold line Tran Phu - Pham Van Dong
            </li>
            <li>
             Located near the scenic spots: <strong>Ponagar Tower, Hon Chong...</strong>
            </li>
            <li>
              In front is the first international marina in Vietnam
            </li>
          </ul>
        `,
        design_info: `
          <p>
           Project La Luna Resort is a perfect design even in a small detail which helps clients can feel the luxury beauty, elegance,
            sumptuous but equally delicate and full of vibrant in the way that only few projects that currently have. Condotel La Luna is
             divided into four main subdivisions: A, B, C, D
          </p>
          <ul>
            <li>
              Block A will be located 2 towers of 35-storey with 5 floors of commercial and service with low construction density 
              accounting for only 62% of total land area.
            </li>
            <li>
             Block B has a 35-storey apartment building and a basement with a construction density of only 59%. Apartment blocks in the
              project Condotel Nha Trang are arranged from 1 to 4 bedroom apartments go along with luxury penthouse will certainly meet the
               needs of customers.
            </li>
          </ul>
        `,
        utility: `
          <p>With 100% Seaview apartment, luxurious architectural style, sophistication and unique, Project La Luna Resort bring to the owner no 
          obstacles in front with the most comfortable environment possible. When you open the curtains, or stand out on the balcony, visitors can
           also embrace the sea, enjoy the cool breeze wind from the blue ocean.</p>
          <p>At the first4 floors are innovative in design and utility services, each floor is a different distribution of utilities such as:</p>
          <ul>
            <li class="mb-0">
              Gym, Spa
            </li>
            <li class="mb-0">
              Shopping area, commercial center
            </li>
            <li class="mb-0">
              Cinemas, amusement parks, parks
            </li>
            <li class="mb-0">
              Meetings or events
            </li>
            <li class="mb-0">
              Luxury, professional restaurant system
            </li>
          </ul>
          <p>The next 30 floors is a floating tower style that creates a space immersed in the sea at dawn or gentle afternoon sunset. 
          Each apartment with interior design system is professionally suited to the space of the room and needs of the owner.</p>
        `,
        progress: `
          <p>Construction progress</p>
          <p>At present, the project has been completed the foundation and is in the construction stage, all workers and machinery are 
          actively working day and night to complete the project plan as scheduled and catch The project will start operation in Q1 / 2018 as planned.</p>
          <p>Legal</p>
          <ul>
            <li>Business Registration Certificate of Khanh Hoa Planning and Investment Department No. 2161/17 issued on January 19, 2017</li>
            <li>Investment Certificate of Khanh Hoa People's Committee issued on 22 June 2016</li>
            <li>Construction Permit No. 20 / GPXD-SXD issued by Construction Department of Khanh Hoa Province on March 8, 2016.</li>
            <li>Decision No. 3714 / QD-UBND of Khanh Hoa People's Committee issued on December 21, 2015</li>
            <li>Certificate of land use right CD355466 issued on June 06, 2016 at the People's Committee of Khanh Hoa province</li>
            <li>Approved 1/500 of Ministry of Construction and Khanh Hoa People's Committee</li>
            <li>Non-Statutory Agreement 441 / TC-QC of the General Staff Department issued on 7 December 2016</li>
            <li>Fire Prevention and Fighting License No. 5323 / TD-PCCC-P6 issued by the Police Department on November 11, 2015.</li>
          </ul>
        `,
        price: `
          <p>
            <strong>Price:From 3000 USD / m2</strong>
          </p>
          <p>
            Phương thức thanh toán:</br>
            <ol>
              <li>Deposit: VND 50,000,000 / unit </li>
              <li>Sign sales contract: 30% of the value of the condominium (VAT included and deposit) - Pay 15 days from deposit</li>
              <li>First payment: 15% of the selling price (including VAT) - after completion of the construction of the 10th floor</li>
              <li>Second payment: 25% of the selling price (including VAT) - after completing the construction of the 20th floor</li>
              <li>Third payment: 25% of the selling price (VAT included) - after completing the construction of the 36th floor</li>
              <li>Forth payment: 05% of the selling price (VAT included) - when receiving the pink book</li>
            </ol>
          </p>
        `,
      },
      gallery: {
        picture: [ 
          {src : './images/gallery/lalunanhatrang/pictures/1.jpg'}, 
          {src : './images/gallery/lalunanhatrang/pictures/2.jpg'},
          {src : './images/gallery/lalunanhatrang/pictures/3.jpg'},
          {src : './images/gallery/lalunanhatrang/pictures/4.jpg'},
          {src : './images/gallery/lalunanhatrang/pictures/5.jpg'},
          {src : './images/gallery/lalunanhatrang/pictures/6.jpg'},
          {src : './images/gallery/lalunanhatrang/pictures/7.jpg'},
          {src : './images/gallery/lalunanhatrang/pictures/8.jpg'},
          {src : './images/gallery/lalunanhatrang/pictures/9.jpg'},
          {src : './images/gallery/lalunanhatrang/pictures/10.jpg'},
          {src : './images/gallery/lalunanhatrang/pictures/11.jpg'},
        ],
        guide: [ 
          {src : './images/gallery/lalunanhatrang/guides/1.jpg'},
          {src : './images/gallery/lalunanhatrang/guides/2.jpg'},
          {src : './images/gallery/lalunanhatrang/guides/3.jpg'},
          {src : './images/gallery/lalunanhatrang/guides/4.jpg'},
          {src : './images/gallery/lalunanhatrang/guides/5.jpg'}
        ],
        position: [ 
          {src : './images/gallery/lalunanhatrang/positions/1.jpg'}
        ],
      },
      website: "",
      facebook: "",
      youtube: "",
      leaflet: "",
      brochure: "https://drive.google.com/open?id=0B_8fWDtOsOgDSzhKV2xoN0dSVFE"
    }

block container
  include ../layouts/header
  include _sec_1
  include _sec_2
  include _sec_3
  include _sec_4
  include _sec_5
  include _sec_6
  include ../layouts/footer
  include ../layouts/modal