extends ../layouts/layout_project

block vars
  -title = 'Project page'
  -bodyClass = 'project-page'
  -menuIndex = 1
  include ../../data/data.pug
  
block container
  include _sec_1
  include _sec_2
  include _sec_3
  include _sec_4
  include _sec_5