extends ../layouts/layout_project

block vars
  -title = 'Project page'
  -bodyClass = 'project-page'
  -menuIndex = 1
  -
    project = {
      banner:"./images/image-phucat.jpg",
      name: "Phú Cát City",
      address: "Xã Thạch Hòa, Thạch Thất, Hà Nội",
      info: {
          model: "Biệt thự đơn lập, biệt thự song lập, biệt thự phố",
          investor: "Công ty TNHH Xây Dựng <strong>Thành Hưng</strong>",
          price: ""
      },
      detail: {
        text: "Toạ lạc trong tổng thể cụm Dự án phát triển đô thị vệ tinh Hòa Lạc, tiếp giáp với khu dân dụng Bắc Phú Cát có quy mô hơn 90ha, <strong>Khu đô thị Phú Cát City</strong> là một dự án được quy hoạch đầu tư xây dựng đồng bộ, hiện đại , hệ thống hạ tầng kỹ thuật và hạ tầng xã hội hoàn chỉnh.<br/><br/>Với mật độ phủ xanh lên đến 70%, <strong>Phú Cát City</strong> sẽ đem đến cho khách hàng sức sống, hoà mình vào thiên nhiên trong lành và tận hưởng những phút giây tuyệt vời bên gia đình sau những giờ làm việc và học tập căng thẳng.",
        more: "",
      },
      area: {
        contruction: {
          value: "190.536 m2 ",
          desc: "Tổng diện tích xây dựng"
        },
        greenery: {
          value: "24.123 m2",
          desc: "Diện tích cây xanh và hồ điều hòa"
        },
        mansion: {
          value: "89.479 m2",
          desc: "Đất ở biệt thự"
        },
        apartment: {
          value: "8.689 m2",
          desc: "Đất ở cao tầng hỗn hợp"
        }
      },
      other: {
        investor: "<ul><li>Với mục tiêu đem đến cho thị trường Việt Nam những sản phẩm – dịch vụ xây dựng có chất lượng cao, phục vụ tận tình, chuyên nghiệp và những trải nghiệm hoàn toàn mới về phong cách sống hiện đại, ở bất cứ lĩnh vực nào cũng chứng tỏ vai trò tiên phong, dẫn dắt sự thay đổi xu hướng sử dụng dịch vụ. Thành Hưng đang tạo nên những điều kỳ diệu để nâng cao chất lượng sống người Việt. Hai dịch vụ tiên phong mà chúng tôi đang hân hạnh phục vụ quý khách hàng là Dịch vụ thi công xây dựng chìa khóa trao tay và Dịch vụ chăm sóc nhà của bạn. Hai dịch vụ này đã chiều lòng được các khách hàng khó tính nhất và mang lại cho Thành Hưng doanh thu hàng chục tỷ đồng.</li><li>Cùng với Quỹ đầu tư mạo hiểm hiện lên tới 10 tỷ đồng, chúng tôi đã và đang tiếp tục đầu tư cho những ý tưởng, những suy nghĩ lớn, những start up có tầm nhìn và khát khao. Nhằm hỗ trợ những mầm non trỗi dậy, Quỹ đầu tư mạo hiểm Thành Hưng hứa hẹn nâng số vốn đầu tư lên cao hơn nữa để đầu tư vào những dự án to hơn, lớn hơn và vĩ đại hơn.</li></ul>",
        design: "<ul><li>Cdự án biệt thự liền kề <strong>The Eden Rose</strong> là Tập Đoàn Dực Phẩm Vimedimex lấy thương hiệu bất động sản là VimeFulland Được thành lập từ năm 1984 hoạt động trong nhiều lĩnh vực khách nhau như Y Tế và tài chính. Đặc biệt đó là Y Dược và Dược phẩm.</li><li>Với định hướng phát triển các sản phẩm chung cư và biệt thự liền kề ứng dụng những công nghệ mới giúp chăm sóc sức khỏe cho người dân. Dự án liền kề <strong>The Eden Rose</strong> là đứa con thứ hai sau dự án Beliver Hà Nội tại ô đất B4 Nam Trung Yên.</li><li>Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự <strong>The Eden Rose</strong> Thanh Trì đã xây dựng được thương hiệu Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.</li></ul>",
        construct: "<ul><li>Chủ đầu tư dự án biệt thự liền kề <strong>The Eden Rose</strong> là Tập Đoàn Dực Phẩm Vimedimex lấy thương hiệu bất động sản là VimeFulland Được thành lập từ năm 1984 hoạt động trong nhiều lĩnh vực khách nhau như Y Tế và tài chính. Đặc biệt đó là Y Dược và Dược phẩm.</li><li>Với định hướng phát triển các sản phẩm chung cư và biệt thự liền kề ứng dụng những công nghệ mới giúp chăm sóc sức khỏe cho người dân. Dự án liền kề <strong>The Eden Rose</strong> là đứa con thứ hai sau dự án Beliver Hà Nội tại ô đất B4 Nam Trung Yên.</li><li>Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự <strong>The Eden Rose</strong> Thanh Trì đã xây dựng được thương hiệu Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.</li></ul>",
        position: "<ul><li>C đầu tư dự án biệt thự liền kề <strong>The Eden Rose</strong> là Tập Đoàn Dực Phẩm Vimedimex lấy thương hiệu bất động sản là VimeFulland Được thành lập từ năm 1984 hoạt động trong nhiều lĩnh vực khách nhau như Y Tế và tài chính. Đặc biệt đó là Y Dược và Dược phẩm.</li><li>Với định hướng phát triển các sản phẩm chung cư và biệt thự liền kề ứng dụng những công nghệ mới giúp chăm sóc sức khỏe cho người dân. Dự án liền kề <strong>The Eden Rose</strong> là đứa con thứ hai sau dự án Beliver Hà Nội tại ô đất B4 Nam Trung Yên.</li><li>Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự <strong>The Eden Rose</strong> Thanh Trì đã xây dựng được thương hiệu Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.</li></ul>",
        design_info: "<ul><li>Chủ đầu tư dự án biệt thự liền kề <strong>The Eden Rose</strong> là Tập Đoàn Dực Phẩm Vimedimex lấy thương hiệu bất động sản là VimeFulland Được thành lập từ năm 1984 hoạt động trong nhiều lĩnh vực khách nhau như Y Tế và tài chính. Đặc biệt đó là Y Dược và Dược phẩm.</li><li>Với định hướng phát triển các sản phẩm chung cư và biệt thự liền kề ứng dụng những công nghệ mới giúp chăm sóc sức khỏe cho người dân. Dự án liền kề <strong>The Eden Rose</strong> là đứa con thứ hai sau dự án Beliver Hà Nội tại ô đất B4 Nam Trung Yên.</li><li>Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự <strong>The Eden Rose</strong> Thanh Trì đã xây dựng được thương hiệu Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.</li></ul>",
        utility: "<ul><li>Chủ  tư dự án biệt thự liền kề <strong>The Eden Rose</strong> là Tập Đoàn Dực Phẩm Vimedimex lấy thương hiệu bất động sản là VimeFulland Được thành lập từ năm 1984 hoạt động trong nhiều lĩnh vực khách nhau như Y Tế và tài chính. Đặc biệt đó là Y Dược và Dược phẩm.</li><li>Với định hướng phát triển các sản phẩm chung cư và biệt thự liền kề ứng dụng những công nghệ mới giúp chăm sóc sức khỏe cho người dân. Dự án liền kề <strong>The Eden Rose</strong> là đứa con thứ hai sau dự án Beliver Hà Nội tại ô đất B4 Nam Trung Yên.</li><li>Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự <strong>The Eden Rose</strong> Thanh Trì đã xây dựng được thương hiệu Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.</li></ul>",
        progress: "<ul><li>Chủ đầu tư dự án liền kề <strong>The Eden Rose</strong> là Tập Đoàn Dực Phẩm Vimedimex lấy thương hiệu bất động sản là VimeFulland Được thành lập từ năm 1984 hoạt động trong nhiều lĩnh vực khách nhau như Y Tế và tài chính. Đặc biệt đó là Y Dược và Dược phẩm.</li><li>Với định hướng phát triển các sản phẩm chung cư và biệt thự liền kề ứng dụng những công nghệ mới giúp chăm sóc sức khỏe cho người dân. Dự án liền kề <strong>The Eden Rose</strong> là đứa con thứ hai sau dự án Beliver Hà Nội tại ô đất B4 Nam Trung Yên.</li><li>Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự <strong>The Eden Rose</strong> Thanh Trì đã xây dựng được thương hiệu Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.</li></ul>",
        price: "<ul><li>Chủ đầu tư  biệt thự liền kề <strong>The Eden Rose</strong> là Tập Đoàn Dực Phẩm Vimedimex lấy thương hiệu bất động sản là VimeFulland Được thành lập từ năm 1984 hoạt động trong nhiều lĩnh vực khách nhau như Y Tế và tài chính. Đặc biệt đó là Y Dược và Dược phẩm.</li><li>Với định hướng phát triển các sản phẩm chung cư và biệt thự liền kề ứng dụng những công nghệ mới giúp chăm sóc sức khỏe cho người dân. Dự án liền kề <strong>The Eden Rose</strong> là đứa con thứ hai sau dự án Beliver Hà Nội tại ô đất B4 Nam Trung Yên.</li><li>Với triết lý kinh doanh “trọn chữ Tín, vẹn chữ Tâm” chủ đầu tư biệt thự <strong>The Eden Rose</strong> Thanh Trì đã xây dựng được thương hiệu Vimefulland một thương hiệu bất động sản xanh và chăm sóc sức khỏe người dân tốt nhất trên thị trường hiện nay.</li></ul>",
      },
      gallery: {
        picture: [ 
          {src : 'https://via.placeholder.com/960x480'}, 
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'}
        ],
        guide: [ 
          {src : 'https://via.placeholder.com/960x480'}, 
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
        ],
        position: [ 
          {src : 'https://via.placeholder.com/960x480'}, 
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'},
          {src : 'https://via.placeholder.com/960x480'}
        ],
      }
    }

block container
  include _sec_1
  include _sec_2
  include _sec_3
  include _sec_4
  include _sec_5
  include _sec_6