extends ../layouts/layout_project

block vars
  -title = 'Golden City An Giang'
  -bodyClass = 'project-page'
  -menuIndex = 2
  -
    project = {
      banner:"./images/image-goldencity.jpg",
      name: "Golden City An Giang",
      address: "Phường Mỹ Hòa, Thành Phố Long Xuyên, Tỉnh An Giang",
      info: {
          model: "Nhà liền kề, biệt thự liền kề, shophouse, villa",
          investor: "Công ty cổ phần dịch vụ và thương mại <strong>Đông Á</strong> (thuộc <strong>Alphanam Group</strong>)",
          price: ""
      },
      detail: {
        text: "<strong>Golden City An Giang</strong> tọa lạc tại phường Mỹ Hòa, thành phố Long Xuyên, tỉnh An Giang. Sở hữu vị trí vàng đắc địa tại ngã ba giao lộ Nguyễn Hoàng và Nguyễn Thái Học, dự án kết nối linh hoạt với các khu vực quan trọng của tỉnh An Giang bằng hệ thống giao thông thuận tiện.<br/><br/>Dự án nằm cạnh nhiều cơ quan hành chính cùng các tiện ích chung của khu vực, thuận tiện để cư dân tận hưởng trọn vẹn cuộc sống tiện nghi. ",
        more: "",
      },
      area: {
        contruction: {
          value: "48,92 ha ",
          desc: "Tổng diện tích xây dựng"
        },
        greenery: {
          value: "55%",
          desc: "Tỷ lệ diện tích cảnh quan"
        },
        mansion: {
          value: "90 - 505 m2",
          desc: "Diện tích lô đất"
        },
        apartment: {
          value: "> 1300 lô",
          desc: "Số lượng lô đất, biệt thự, nhà phố thương mại"
        }
      },
      other: {
        investor: "<ul><li>Công ty Cổ phần Dịch vụ và Thương mại Đông Á là một thành viên của Alphanam Group – Tập đoàn kinh tế đa ngành hàng đầu Việt Nam. Với mong muốn xây dựng một khu đô thị mang tính biểu tượng tại Tp Long Xuyên, Đông Á không ngừng nỗ lực để mang tới dự án Golden City An Giang những yếu tố độc đáo và đẳng cấp nhất. Kinh nghiệm hơn 20 năm hoạt động trên thị trường, cùng tiềm lực tài chính vững mạnh của chủ đầu tư sẽ là minh chứng đảm bảo chất lượng công trình và tiến độ tại dự án Golden City An Giang.</li></ul>",
        design: "",
        construct: "",
        position: "<ul><li>Golden City An Giang tọa lạc tại phường Mỹ Hòa, thành phố Long Xuyên, tỉnh An Giang. Sở hữu vị trí vàng đắc địa tại ngã ba giao lộ Nguyễn Hoàng và Nguyễn Thái Học, dự án kết nối linh hoạt với các khu vực quan trọng của tỉnh An Giang bằng hệ thống giao thông thuận tiện. Dự án nằm cạnh nhiều cơ quan hành chính cùng các tiện ích chung của khu vực, thuận tiện để cư dân tận hưởng trọn vẹn cuộc sống tiện nghi.</li></ul>",
        design_info: "",
        utility: "<ul><li>Golden City An Giang sở hữu quy hoạch khác biệt với hệ thống hạ tầng đồng bộ, hiện đại theo xu hướng phát triển của Thế giới. Hạ tầng kỹ thuật và quy hoạch các phân khu không chỉ đảm bảo tính thẩm mỹ, cảnh quan đô thị mà còn đảm bảo an toàn, thuận lợi trong sinh hoạt cho cư dân. Không gian hoàn hảo, hòa hợp cùng thiên nhiên với tiêu chuẩn sống chất lượng, Golden City An Giang mang đến những giá trị sống đích thực, xứng tầm.</li><li>Với đa dạng các loại hình sản phầm gồm: Biệt thự, nhà phố thương mại (shophouse), nhà liền kề, Golden City An Giang là sự kết hợp hoàn hảo của môi trường kinh doanh với không gian sống lý tưởng.</li></ul>",
        progress: "",
        price: "",
      },
      gallery: {
        picture: [ 
          {src : './images/gallery/goldencity/pictures/1.jpg'},
          {src : './images/gallery/goldencity/pictures/2.jpg'},
          {src : './images/gallery/goldencity/pictures/3.jpg'},
          {src : './images/gallery/goldencity/pictures/4.jpg'},
          {src : './images/gallery/goldencity/pictures/5.jpg'},
          {src : './images/gallery/goldencity/pictures/6.jpg'},
          {src : './images/gallery/goldencity/pictures/7.jpg'},
          {src : './images/gallery/goldencity/pictures/8.jpg'},
          {src : './images/gallery/goldencity/pictures/9.jpg'},
          {src : './images/gallery/goldencity/pictures/10.jpg'}
        ],
        guide: [ 
          {src : './images/gallery/goldencity/guides/1.jpg'},
          {src : './images/gallery/goldencity/guides/2.jpg'},
          {src : './images/gallery/goldencity/guides/3.jpg'},
          {src : './images/gallery/goldencity/guides/4.jpg'},
          {src : './images/gallery/goldencity/guides/5.jpg'},
          {src : './images/gallery/goldencity/guides/6.jpg'},
          {src : './images/gallery/goldencity/guides/7.jpg'}
        ],
        position: [ 
          {src : './images/gallery/goldencity/positions/1.jpg'},
          {src : './images/gallery/goldencity/positions/2.jpg'}
        ],
      },
      website: "http://goldencityangiang.vn/",
      facebook: "https://facebook.com/goldencityangiang",
      youtube: "https://www.youtube.com/watch?v=6gQf4Uf8gaw",
      leaflet: "",
      brochure: "http://goldencityangiang.vn/wp-content/uploads/tailieu/BROCHURE-print-2.pdf"
    }

block container
  include _sec_1
  include _sec_2
  include _sec_3
  include _sec_4
  include _sec_5
  include _sec_6