extends ../layouts/layout_project

block vars
  -title = 'VIREX | Golden City An Giang'
  -bodyClass = 'project-page'
  -menuIndex = 1
  -lang = 'en'
  -pageName= 'project_goldencity'
  include ../../data/data.pug
  -
    project = {
      banner:"./images/image-goldencity.jpg",
      name: "Golden City An Giang Urban Area",
      address: "My Hoa Ward, Long Xuyen City, An Giang Province",
      info: {
          model: `A complex of offices, sports, services, trade fairs and residential areas`,
          investor: `<strong>Dong A</strong> Trading and Service Joint Stock Company (of <strong>Alphanam Group</strong>)`,
          price: `<strong>Land price:</strong> 15.5 million VND/m2 </br> <strong>Housing completion:</strong> 3.5-storey building`
      },
      detail: {
        text: `The Golden City project in An Giang is currently in the process of selling land plots in stages. These plots are to be developed by
         Alphanam Group, or the land plot owner can assign their own developer should they wish to do so. The project is divided up into several
          sectors, each starting construction once all plots have been sold in their respective sector. This is done to ensure that residents will
           live in a vibrant community with every facility at their disposal, and not in a construction zone.</br>
           Golden City blends modern architecture with a curated, sustainable, and green living space, allowing residents to live in harmony
            with nature. Surrounded by the romantic Long Xuyen River, the development offers a unique living experience in the heart of An
             Giang, whilst preserving the ‘proud and liberal’ nature of the Southwest.`,
        more: ``,
      },
      area: {
        contruction: {
          value: "48,92 ha ",
          desc: "Area of ​​land use"
        },
        greenery: {
          value: "55%",
          desc: "Infrastructure and greenery"
        },
        mansion: {
          value: "+300m2, 3 floors",
          desc: "Villas"
        },
        apartment: {
          value: "+100m2, 3.5 floors ",
          desc: "Terraced houses"
        }
      },
      other: {
        investor: `
          <p>
            Dong A Trading and Service Joint Stock Company is a member of Alphanam Group, one of the leading multi-sector economic
             groups in Vietnam. With the desire to build a symbolic urban area in Long Xuyen City, Dong A strives to offer residents
              of the Golden City An Giang project a unique location of the highest quality. Clear indicators of the quality and progress
               of the project are the strong growth and financial gains investors are seeing. Dong A’s experience of over 20 years in the
                market does not go unnoticed.
          </p>
          <ul>
            <li class="mb-0">Head office: 47 Vu Trong Phung Street, Thanh Xuan Trung Ward, Thanh Xuan District, Hanoi.</li>
            <li class="mb-0">Representative Office: L4 Building -1 An Giang Urban Area An Giang</li>
            <li class="mb-0">Tel: 0766 252 949</li>
            <li class="mb-0">General Director: Mr. Bui Dinh Quy</li>          
          </ul>
          `,
        design: `
          <ul>
            <li>
              <strong>Designer:</strong> Salvador Perez Arroyo Design Consultant Joint Stock Company and Community
            </li>
            <li>
              <strong>Architect:</strong> Salvador Perez Arroyo
              <ul style="list-style-type: circle">
                <li class="mb-0">Nationality: Spanish</li>
                <li class="mb-0">Top 10 famous architects in the world</li>
                <li class="mb-0">Over 40 years of experience</li>
                <li class="mb-0">Awarded with more than 50 prestigious awards</li>
                <li class="mb-0">Published many books on architecture</li>
                <li class="mb-0">Postmodern architecture style</li>
              </ul>
            </li>
            <li><strong>Strategic partners:</strong> VP Bank, Vietcombank</li>
          </ul>
          `,
        construct: ``,
        position: `
          <p>
            The project is located in the An Giang province, My Hoa ward, right in the heart of the city Long Xuyen; the second largest city
             in the Mekong Delta. Developments have high potential here, as the People's Committee of An Giang aims to make Long Xuyen the major
              city of the province.</br>
            At the intersection of Nguyen Hoang and Nguyen Thai Hoc, the project interlinks strong economic neighboring areas with the An Giang
             province through several connecting transportation systems. The project is located next to many administrative offices and common
              facilities which surround the area, allowing Golden City residents to enjoy a complete list of facilities.</br>
              <strong>North:</strong> Long Xuyen river</br>
              <strong>East:</strong> Nguyen Hoang Street with Long Thanh Commune, GIS International School</br>
              <strong>South:</strong> Borders with Ha Hoang Ho street (provincial road 943)</br>
              <strong>West:</strong> Cultural center, sports facilities, groceries, Fair & Exhibition complex</br>
          </p>
          `,
        design_info: `
          <ul>
            <li>
              Shophouses
              <ul style="list-style-type: circle">
                <li class="mb-0">100m2 (5mx20m)</li>
                <li class="mb-0">114m2 (6mx19m)</li>
                <li class="mb-0">120m2 (6mx20m)</li>
              </ul>
            </li>
            <li>
              Villas
              <ul style="list-style-type: circle">
                <li class="mb-0">300m2 (15mx20m)</li>
              </ul>
            </li>
            <li>
              Terraced houses
              <ul style="list-style-type: circle">
                <li class="mb-0">100m2 (5mx20m)</li>
                <li class="mb-0">114m2 (6mx19m)</li>
                <li class="mb-0">120m2 (6mx20m)</li>
              </ul>
            </li>
          </ul>
        `,
        utility: `
          <ul>
            <li>
              Ton Duc Thang Square: Located in the center of Golden City An Giang, Ton Duc Thang Square will become the new symbol of
               Long Xuyen City. Cultural activities and entertainment attracts crowds of tourists and people from neighboring cities and
                provinces to come visit and be entertained.
             </li>
            <li>
              Shopping street: Residents have access to many forms of shopping through a mix of shophouses and department stores, with
               a collection of famous local and international brands.
            </li>
            <li>
              Green Park: Enjoy Golden City An Giang’s peaceful nature through the carefully curated landscapes and green parks that cover this urban area.
            </li>
            <li>
              External facilities: located in the heart of Long Xuyen City, future residents of Golden City An Giang can enjoy high living-standards through the
               many facilities available in the area; such as hospitals, schools, supermarkets and administrative offices:
              <ul style="list-style-type: circle">
                <li class="mb-0">GIS International School</li>
                <li class="mb-0">Military – Residents Hospital</li>
                <li class="mb-0">Sports Complex</li>
                <li class="mb-0">Center for trade fairs and exhibitions</li>
                <li class="mb-0">An Giang General Hospital</li>
                <li class="mb-0">Lotte Supermarket</li>
                <li class="mb-0">An Giang University</li>
                <li class="mb-0">Long Xuyen Administrative Center</li>
                <li class="mb-0">An Giang People's Committee</li>
              </ul>
            </li>
          </ul>
        `,
        progress: ` 
          <p><strong>Construction progress</strong></p>
          <ul>
            <li>The construction progress of Golden City An Giang, with its 43.39 hectares, is divided into 2 phases:</li>
            <li>Phase 1: 22.5 ha | Completed infrastructure. Ready to hand over land plots to owners</li>
            <li>Phase 2: 20.89 ha | Under construction</li>
          </ul>
          <p>
            <strong>Legal</strong>
          </p>
          <ul>
            <li>Investment Certificate of An Giang People's Committee No. 521031000391 issued on May 19, 2015</li>
            <li>Decision of approving the 1/500 plan of 1405 / QĐ-UBND of An Giang People's Committee issued on 09 May 2017.</li>
          </ul>
        `,
        price: `
          <p>
            <strong>Land price:</strong> fluctuating from 18-40 million/m2 depending on the location.</br>
            <strong>House price:</strong> 3.5-storey building and finishing surface: 4.5 million / m2
          </p>
          <p>
            Payment procedure:
            <ul>
              <li><strong>Deposit: 100 million VND / 01 floor</strong></li>
              <li><strong>Stage 1:</strong> At least 10 days from the date of deposit and upon signing the purchase 
              contract: 30% of the total contract value (VAT included and deposit)</li>
              <li><strong>Stage 2:</strong> Within 30 days from the payment of Stage 1: 15% of the total value of the contract (VAT included)</li>
              <li><strong>Stage 3:</strong> Within 60 days from the payment of Stage 1: 15% of the total contract value (VAT included)</li>
              <li><strong>Stage 4:</strong> Within 90 days from the payment of Stage 1: 15% of the total value of the contract (VAT included)</li>
              <li><strong>Stage 5:</strong> Right after signing transfer contract. 20% of the total contract value</li>
              <li><strong>When completing the procedures for submission of land use right transfer dossiers at competent state agencies in Long Xuyen.
              5% of the total contract value (VAT included)</li>
            </ul>
            <strong>Note:</strong> If the payment 4 & 5 overlap, the investor will notify customers 15 days before.
          </p>
        `,
      },
      gallery: {
        picture: [ 
          {src : './images/gallery/goldencity/pictures/1.jpg'},
          {src : './images/gallery/goldencity/pictures/2.jpg'},
          {src : './images/gallery/goldencity/pictures/3.jpg'},
          {src : './images/gallery/goldencity/pictures/4.jpg'},
          {src : './images/gallery/goldencity/pictures/5.jpg'},
          {src : './images/gallery/goldencity/pictures/6.jpg'},
          {src : './images/gallery/goldencity/pictures/7.jpg'},
          {src : './images/gallery/goldencity/pictures/8.jpg'},
          {src : './images/gallery/goldencity/pictures/9.jpg'},
          {src : './images/gallery/goldencity/pictures/10.jpg'},
          {src : './images/gallery/goldencity/pictures/11.jpg'}
        ],
        guide: [ 
          {src : './images/gallery/goldencity/guides/1.jpg'},
          {src : './images/gallery/goldencity/guides/2.jpg'},
          {src : './images/gallery/goldencity/guides/3.jpg'},
          {src : './images/gallery/goldencity/guides/4.jpg'},
          {src : './images/gallery/goldencity/guides/5.jpg'},
          {src : './images/gallery/goldencity/guides/6.jpg'}
        ],
        position: [ 
          {src : './images/gallery/goldencity/positions/1.jpg'},
          {src : './images/gallery/goldencity/positions/2.jpg'},
          {src : './images/gallery/goldencity/positions/3.jpg'},
          {src : './images/gallery/goldencity/positions/4.jpg'},
          {src : './images/gallery/goldencity/positions/5.jpg'}
        ],
      },
      website: "http://goldencityangiang.vn/",
      facebook: "https://facebook.com/goldencityangiang",
      youtube: "https://www.youtube.com/watch?v=6gQf4Uf8gaw",
      leaflet: "",
      brochure: "https://drive.google.com/open?id=0B_8fWDtOsOgDX29sTHZQTmdqNTA"
    }

block container
  include ../layouts/header
  include _sec_1
  include _sec_2
  include _sec_3
  include _sec_4
  include _sec_5
  include _sec_6
  include ../layouts/footer
  include ../layouts/modal