extends ../layouts/layout_project

block vars
  -title = 'Phú Cát City'
  -bodyClass = 'project-page'
  -menuIndex = 1
  -lang = 'en'
  -pageName= 'project_phucat'
  include ../../data/data.pug
  -
    project = {
      banner:"./images/image-phucat.jpg",
      name: "Phú Cát City",
      address: "Xã Thạch Hòa, Thạch Thất, Hà Nội",
      info: {
          model: "Biệt thự đơn lập, biệt thự song lập, biệt thự phố",
          investor: "Công ty TNHH Xây Dựng <strong>Thành Hưng</strong>",
          price: ""
      },
      detail: {
        text: "Toạ lạc trong tổng thể cụm Dự án phát triển đô thị vệ tinh Hòa Lạc, tiếp giáp với khu dân dụng Bắc Phú Cát có quy mô hơn 90ha, <strong>Khu đô thị Phú Cát City</strong> là một dự án được quy hoạch đầu tư xây dựng đồng bộ, hiện đại , hệ thống hạ tầng kỹ thuật và hạ tầng xã hội hoàn chỉnh.<br/><br/>Với mật độ phủ xanh lên đến 70%, <strong>Phú Cát City</strong> sẽ đem đến cho khách hàng sức sống, hoà mình vào thiên nhiên trong lành và tận hưởng những phút giây tuyệt vời bên gia đình sau những giờ làm việc và học tập căng thẳng.",
        more: "",
      },
      area: {
        contruction: {
          value: "190.536 m2 ",
          desc: "Tổng diện tích xây dựng"
        },
        greenery: {
          value: "24.123 m2",
          desc: "Diện tích cây xanh và hồ điều hòa"
        },
        mansion: {
          value: "89.479 m2",
          desc: "Đất ở biệt thự"
        },
        apartment: {
          value: "8.689 m2",
          desc: "Đất ở cao tầng hỗn hợp"
        }
      },
      other: {
        investor: "<ul><li>Với mục tiêu đem đến cho thị trường Việt Nam những sản phẩm – dịch vụ xây dựng có chất lượng cao, phục vụ tận tình, chuyên nghiệp và những trải nghiệm hoàn toàn mới về phong cách sống hiện đại, ở bất cứ lĩnh vực nào cũng chứng tỏ vai trò tiên phong, dẫn dắt sự thay đổi xu hướng sử dụng dịch vụ. Thành Hưng đang tạo nên những điều kỳ diệu để nâng cao chất lượng sống người Việt. Hai dịch vụ tiên phong mà chúng tôi đang hân hạnh phục vụ quý khách hàng là Dịch vụ thi công xây dựng chìa khóa trao tay và Dịch vụ chăm sóc nhà của bạn. Hai dịch vụ này đã chiều lòng được các khách hàng khó tính nhất và mang lại cho Thành Hưng doanh thu hàng chục tỷ đồng.</li><li>Cùng với Quỹ đầu tư mạo hiểm hiện lên tới 10 tỷ đồng, chúng tôi đã và đang tiếp tục đầu tư cho những ý tưởng, những suy nghĩ lớn, những start up có tầm nhìn và khát khao. Nhằm hỗ trợ những mầm non trỗi dậy, Quỹ đầu tư mạo hiểm Thành Hưng hứa hẹn nâng số vốn đầu tư lên cao hơn nữa để đầu tư vào những dự án to hơn, lớn hơn và vĩ đại hơn.</li></ul>",
        design: "",
        construct: "",
        position: "<ul><li>Toạ lạc trong tổng thể cụm Dự án phát triển đô thị vệ tinh Hòa Lạc, tiếp giáp với khu dân dụng <strong>Bắc Phú Cát</strong> có quy mô hơn 90ha, Khu đô thị <strong>Phú Cát city</strong> là một dự án được quy hoạch đầu tư xây dựng đồng bộ, hiện đại , hệ thống hạ tầng kỹ thuật và hạ tầng xã hội hoàn chỉnh. Với mật độ phủ xanh lên đến 70%, Phú Cát City sẽ đem đến cho khách hàng sức sống, hoà mình vào thiên nhiên trong lành và tận hưởng những phút giây tuyệt vời bên gia đình sau những giờ làm việc và học tập căng thẳng.</li></ul>",
        design_info: "<ul><li> Biệt thự Phú Cát là tổ hợp dự án gồm biệt thự song lập, đơn lập và biệt thự phố với mô hình phức hợp khép kín, dự án sẽ khiến bất cứ ai khi bước chân qua cổng đều ngay lập tức cảm nhận được sự khác biệt. Dự án là món quà được tạo nên từ tâm huyết của chủ đầu tư, sự sáng tạo, óc thẩm mỹ của  chủ đầu tư cùng đội ngũ kiến trúc sư của Việt Nam, đó sẽ là điểm đến lý tưởng, điểm nhấn của Hà Nội nói chung và khu công nghệ cao Láng Hoà Lạc nói riêng.</li></ul>",
        utility: "<ul><li>Dự án được đầu tư tỉ mỉ trong khâu thiết kế, mỗi căn biệt thự tại Phú Cát  đều có sự sắp xếp linh hoạt nhằm tối ưu hóa diện tích sử dụng và đảm bảo sự lưu thông không khí và ánh sáng tự nhiên cho căn nhà. Tất cả các phòng trong một căn biệt thự đều có thể đón sáng tự nhiên và sở hữu tầm nhìn thoáng . Các không gian cũng được sắp xếp hợp lý tạo sự thuận tiện cho các sinh hoạt hàng ngày, vừa mang nét hiện đại phù hợp với lối sống trẻ, vừa tôn trọng sự kín đáo theo truyền thống gia đình Việt.</li></ul>",
        progress: "",
        price: "",
      },
      gallery: {
        picture: [ 
          {src : './images/gallery/phucat/pictures/1.jpg'}, 
          {src : './images/gallery/phucat/pictures/2.jpg'},
          {src : './images/gallery/phucat/pictures/3.jpg'},
          {src : './images/gallery/phucat/pictures/4.jpg'},
          {src : './images/gallery/phucat/pictures/5.jpg'},
          {src : './images/gallery/phucat/pictures/6.jpg'},
          {src : './images/gallery/phucat/pictures/7.jpg'}
        ],
        guide: [ 
          {src : './images/gallery/phucat/guides/1.jpg'}, 
          {src : './images/gallery/phucat/guides/2.jpg'},
          {src : './images/gallery/phucat/guides/3.jpg'},
          {src : './images/gallery/phucat/guides/4.jpg'},
          {src : './images/gallery/phucat/guides/5.jpg'},
          {src : './images/gallery/phucat/guides/6.jpg'},
          {src : './images/gallery/phucat/guides/7.jpg'},
          {src : './images/gallery/phucat/guides/8.jpg'},
          {src : './images/gallery/phucat/guides/9.jpg'},
          {src : './images/gallery/phucat/guides/10.jpg'},
          {src : './images/gallery/phucat/guides/11.jpg'}
        ],
        position: [ 
          {src : './images/gallery/phucat/positions/1.jpg'}, 
          {src : './images/gallery/phucat/positions/2.jpg'},
          {src : './images/gallery/phucat/positions/3.jpg'}
        ],
      },
      website: "http://phucatcity.vn/ ",
      facebook: "https://www.facebook.com/phucatcity/",
      youtube: "https://youtu.be/gjzR7UfUJOc",
      leaflet: "",
      brochure: ""
    }

block container
  include ../layouts/header
  include _sec_1
  include _sec_2
  include _sec_3
  include _sec_4
  include _sec_5
  include _sec_6
  include ../layouts/footer
  include ../layouts/modal