@import './fontawesome/font-awesome.scss';

@font-face {
  font-family: FontAwesome;
  src: url($src + 'font/fontawesome-webfont.eot');
  src: url($src + 'font/fontawesome-webfont.woff2') format('woff2'),
       url($src + 'font/fontawesome-webfont.woff') format('woff'),
       url($src + 'font/fontawesome-webfont.ttf') format('truetype'),
       url($src + 'font/fontawesome-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
$font-bold: FontAwesome;
