footer{
  padding: rem(30) 0 rem(10) 0;
  background-color: #3b3b3b;
  .title{
    margin-bottom: rem(25);
  }
  .txtFooter{
    font-size: rem(13);
    margin-top: rem(10);
  }
  .social-list{
    margin-top: rem(20)
  }
  p{
    margin-bottom: 3px;
  }
}