footer{
  padding: rem(30) 0 rem(10) 0;
  background-color: #3b3b3b;
  .title{
    margin-bottom: rem(25);
  }
  .txtFooter{
    font-size: rem(13);
    margin-top: rem(10);
  }
  .social-list{
    display: none;
    margin-top: rem(20);
    i {
      font-size: rem(24);
      @include maxs($sp-1024) {
        font-size: rem(24);
      }
      &:hover {
        color: #be1e2d;
        border: 1px solid #be1e2d;
      }
    }
    &__facebook {
      cursor: pointer;
      i {
        border: 1px solid #ffffff;
        border-radius: 50%;
        padding: 25px 33.5705px;
        @include maxs($sp-1024) {
          padding: 10px 15.1485px;
        }
      }
    }
    &__youtube {
      cursor: pointer;
      i {
        border: 1px solid #ffffff;
        border-radius: 50%;
        padding: 25px;
        margin: 0 10px;
        @include maxs($sp-1024) {
          padding: 10px 10.992px;
        }
      }
    }
    &__pinterest {
      cursor: pointer;
      i {
        border: 1px solid #ffffff;
        border-radius: 50%;
        padding: 25px 30.711px;
        @include maxs($sp-1024) {
          padding: 10px 13.4295px;
        }
      }
    }
  }
  p{
    margin-bottom: 3px;
    @include maxs($sp-1024) {
      font-size: rem(14);
    }
  }
  h3 {
    @include maxs($sp-1024) {
      font-size: rem(18);
    }
  }
}