header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  @include maxs($sp-767) {
    background: rgba(0,0,0,0.6);
  }
  ul.navbar-nav{
    li.nav-item{
      position: relative;
      display: block;
      margin: rem(0) rem(10);
      @include maxs($sp-767) {
      }
      &:after{
        content: '';
        width: 100%;
        height: 0%;
        background-image: transparent;
        opacity: 1;
        position: absolute;
        left: 0;
        top: rem(-15);
        z-index: 1;
        transition: 500ms;
        @include maxs($sp-767) {
          position: initial;
          content: initial;
        }
      }
      &.active{
        a.nav-link{
          @include maxs($sp-767) {
            color: #be1e2d;
          }
        }
      }
      &.active:after{
        height: 160%;
        opacity: 1;
        background-image: linear-gradient(to bottom, #be1e2d, rgba(187, 29, 44, 0));
        @include maxs($sp-767) {
          background-image: initial;
        }
      }
      &:hover:after{
        height: 160%;
        opacity: 1;
        background-image: linear-gradient(to bottom, #be1e2d, rgba(187, 29, 44, 0));
        @include maxs($sp-767) {
          background-image: initial;
        }
      }
      a.nav-link{
        color: #fff;
        font-size: rem(14);
        font-family: RobotoBold;
        position: relative;
        z-index: 2;
        @include maxs($sp-768) {
          font-size: rem(12);
        }
      }
    }

  }
  .navbar-nav li .subMenu{
    display: none;
    position: absolute;
    width: 200px;
    left: -100%;
    padding-top: 5px;
    @include maxs($sp-767) {
      display: initial;
      position: initial;
    }
    li{
      border: 1px solid #fff;
      text-align: center;
      @include maxs($sp-767) {
        border: 0px;
        text-align: left;
        margin-left: 5px;
      }
      a{
        @include maxs($sp-767) {
          font-family: $font-B;
        }
        text-transform: uppercase;
        background-color: transparent;
        color: #fff;
        font-size: rem(14);
        display: block;
        margin-left: 0px;
        padding-left: 0px;
        padding: rem(8) rem(12);
        &:hover{
          background-color: #C7202F;
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
  .navbar-nav li:hover .subMenu {
    display: block;
  }
  
  .btnGetNew{
    font-family: RobotoBold;
    margin: 0px rem(10);
    font-size: rem(14);
    border: 1px solid #fff;
    padding: rem(5) rem(15);
    border-radius: rem(20);
    &:hover{
      text-decoration: none;
      color: #fff;
      background: #be1e2d;
      @include maxs($sp-767) {
        background: transparent;
      }
    }
    @include maxs($sp-767) {
      border: 0px;
      margin-left: 10px;
      padding: 0px;
      font-family: $font-B;
    }
  }
}
body.mobile{
  .navigator{
    @include maxs($sp-1366) {
      display: none;
    }
  }
}
.navigator{
  position: fixed;
  right: 15px;
  top: 30vh;
  z-index: 2;
  @include maxs($sp-1400) {
    top: 22vh;
  }
  @include maxs($sp-1024) {
    display: none;
  }
  li{
    cursor: pointer;
    margin: rem(10) 0px;
    width: 10px;
    &.active{
      a:after{
        background: #fff;
      }
    }
    a{
      position: relative;
      color: transparent;
      &:after{
        content: '';
        position: absolute;
        border-radius: 4px;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 4px;
        background: rgba(255,255,255,0.4);
        color: transparent;
      }
    }
  }
}


.navbar-toggler {
  position: relative;
  background-color: transparent;
  background-image: none;
  // border: 1px solid red;
  border-radius: 0;
  padding: 10px;
  display: block;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}
.navbar-toggler span {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
// .navbar-toggler.collapsed span {
//   width: 22px;
// }

.navbar-toggler span+span {
  margin-top: 4px;
}

/* ANIMATED X */
.navbar-toggler span:nth-of-type(1) {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}
.navbar-toggler span:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}
.navbar-toggler span:nth-of-type(3) {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}

.navbar-toggler.collapsed span:nth-of-type(1) {
	transform: rotate(0);
}
.navbar-toggler.collapsed span:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}
.navbar-toggler.collapsed span:nth-of-type(3) {
	transform: rotate(0);
}
.logo{
  @include maxs($sp-767) {
    width: 80px;
  }
}