.loading{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  background: #000;
  .boxLoading{
    @include center();
    .circle {
      box-sizing: border-box;
      width: 80px;
      height: 80px;
      border-radius: 100%;
      border: 5px solid rgba(255, 255, 255, 0.2);
      border-top-color: #FFF;
      animation: spin 1s infinite linear;
    }
  }
}
@keyframes spin { 
  100% { 
    transform: rotate(360deg); 
  } 
} 