.section-2{
  background-image: url($src+'images/bg_section_2.jpg');
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  @include maxs($sp-768) {
    padding: rem(100) 0px;
  }
  &__box{
    margin-right: auto;
    width: 900px;
    margin-left: 5%;
    background: rgba(250,236,217,0.75);
    p {
      color: #5a5b5b;
    }
    @include maxs($sp-1400) {
      width: 60%;
    }
    @include maxs($sp-768) {
      width: 85%;
      margin-left: initial;
      margin-right: initial;
      margin: auto;
    }
  }
  &__title{
    font-size: rem(21);
  }
  &__txt{
    font-size: rem(18);
  }
}