.section-1{
  background-image: url($src+'images/bg_section_1.jpg');
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  &__txt{
    // @include center(right);
    opacity: 0;
    margin-left: auto;
    width: 500px;
    margin-right: 5%;
    font-size: rem(35);
  }
}