.section-3{
  background: #000;
  .container-fuild{
    width: 100%;
    margin: auto;
  }
  &__list{
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 100vh;
    overflow: hidden;
    &_1{
      background-image: url($src+'images/bg_section_1.jpg');
      background-size: cover;
      background-position: center center;
    };
    &_2{
      background-image: url($src+'images/bg_section_2.jpg');
      background-size: cover;
      background-position: center center;
    }
    &_3{
      background-image: url($src+'images/bg_section_1.jpg');
      background-size: cover;
      background-position: center center;
    }
    .list-inline-item{
      font-family: $font-B;
      font-size: rem(30);
      flex: 1;
      transition: all 500ms ease;
      position: relative;
      .title{
        position: absolute;
        top: 25%;
        left: rem(20);
      }
      .txtHover{
        opacity: 0;
        font-size: rem(27);
        position: absolute;
        top: 24.4%;
        left: rem(30);
        right: rem(30);
        transition: all 200ms ease-out;
      }
      &:not(:last-child){
        margin-right: 0px;
      }
      &:hover{
        flex: 3;
        background-size: cover;
        background-position: center center;
        background-color: #be1e2c;
        background-blend-mode: multiply;
        .title{
          opacity: 0;
        }
        .txtHover{
          opacity: 1;
        }
      }
    }
  }
}