.section-2{
  background-image: url($src+'images/bg_section_2.jpg');
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  &__box{
    opacity: 0;
    margin-right: auto;
    width: 700px;
    margin-left: 5%;
    background: rgba(109, 0, 10, 0.65);
    @include maxs($sp-1400) {
      width: 60%;
    }
  }
  &__title{
    font-size: rem(21);
  }
  &__txt{
    font-size: rem(21);
  }
}