.section-5{
  background-image: url($src+'images/bg_section_5.jpg');
  position: relative;
  display: flex;
  align-items: center;
  &__title{
    font-family:$font-B;
    font-size: rem(40);
    padding-bottom: rem(100);
    @include maxs($sp-1400) {
      padding-bottom: rem(50);
    }
  }
  &__snap{
    width: 90%;
    margin: auto;
    @include maxs($sp-1024) {
      width: 90%;
    }
    .slick-list{
      @include maxs($sp-1024) {
        width: 90% !important;
        margin: auto;
      }
    }
    .projectBox{
      position: relative;
      margin: 0px rem(15);
      .projectBoxLink{
        position: absolute;
        width: 100%;
        height: 100%;
        transition: 400ms ease;
        display: block;
        .slideDes{
          width: 90%;
          opacity: 0;
          //color: #5a5b5b;
          color: #ffffff;
          @include center();
        }
        .slideTitle{
          position: absolute;
          left: rem(15);
          bottom: rem(10);
          font-size: rem(22);
          font-weight: bold;
          //color: #e4a039;
          color: #ffffff;
          text-transform: uppercase;
          @include maxs($sp-1024) {
            font-size: rem(15);
          }
        }
        &:hover{
          text-decoration: none;
          //background-color: rgba(250,236,217,0.8);
          background-color: rgba(0, 0, 0, 0.81);
          .slideTitle{
            opacity: 0;
          }
          .slideDes{
            opacity: 1;
          }
        }
      }
    }
  }
}

