.section-proj-1 {
  position: relative;
  &__button-group {
    position: absolute;
    right: 10%;
    bottom: -18px;
    @include maxs($sp-1024) {
      bottom: -14px;
    }
    &__civil-guide {
      margin: 0 10px;
    }
    .btn {
      font-weight: bold;
      position: relative;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      &:active,
      &:focus,
      &:hover {
        outline: none;
        box-shadow: none;
      }
      @include maxs($sp-1024) {
        padding: 6px 15px;
      }
    }
  }
}