.section-foreign-4 {
  width: 100%;
  background-color: #f5f5f5;
  &__title {
    color: #c7202f;
    font-size: rem(18);
    font-weight: bold;
    &:after {
      position: relative;
      content: "";
      width: 150px;
      display: block;
      border-bottom: 2px solid #fbaf3f;
      margin-top: 10px;
    }
  }
  &__tab-bar {
    @include maxs($sp-767) {
      display: none;
    }
    &__link {
      strong {
        color: #000000;
      }
      margin-bottom: 20px;
      color: #9b9b9b;
      height: auto;
      font-size: rem(16);
      display: block;
      background-color: #ffffff;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      padding: rem(20);
      cursor: pointer;
      &:hover{
        border: solid 1px #ffa933;
      }
      &.active {
        border: solid 1px #ffa933;
      }
      &:active,
      &:focus {
        outline: none;
      }
    }
  }
  &__tab-content {
    @include maxs($sp-767) {
      display: none;
    }
    background-color: #ffffff;
    padding: 30px 25px;
    &__item {
      display: none;
      ul {
        @include maxs($sp-767) {
          margin-right: 20px;
        }
      }
      .transaction {
        list-style: decimal;
      }
      .accordion-title {
        color: #be1e2d;
        font-size: rem(20);
        font-weight: 600;
        @include maxs($sp-767) {
          margin: 20px;
        }
      }
      .note {
        background-color: rgba(255, 245, 232, 0.8);
        padding: 12px 15px;
        @include maxs($sp-767) {
          margin: 20px;
        }
        &__title {
          color: #c7202f;
          font-weight: bold;
          font-size: rem(14);
          font-style: normal;
        }
        &__content {
          font-style: italic;
          color: #000000;
          font-size: rem(14);
        }
        strong {
          color: #000000;
        }
      }
      .content-title {
        color: #be1e2d;
        font-size: rem(20);
        font-weight: 600;
        @include maxs($sp-767) {
          margin: 20px;
        }
      }
      strong {
        color: #000000;
      }
      ul {
        li {
          color: #464646;
          margin-bottom: 20px;
          line-height: 1.5;
          @include maxs($sp-1024) {
            font-size: rem(14);
          }
        }
      }
    }
  }
  &__arcordion {
    @include  min($sp-768) {
      display: none;
      transition: max-height 0.5s ease-out;
    }
    padding: 0 15px;
    &__link {
      @extend .section-foreign-4__tab-bar__link;
      margin-bottom: 0;
    }
    &__item {
      @extend .section-foreign-4__tab-content__item;
      box-sizing: border-box;
      display: block;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      background-color: #ffffff;
      margin-bottom: 25px;
    }
  }
  &__item {
    &__arcordion {
      padding: 0 15px;
      &__link {
        color:#4a4a4a;
        font-size: rem(16);
        display: block;
        width: 100%;
        border: none;
        background-color: #ffffff;
        text-align: left;
        border-bottom: solid 1px #e5e5e5;
        margin-bottom: 20px;
        padding: 12px 20px 20px 12px;
        position: relative;
        &:after {
          font-family: 'FontAwesome';  
          content: '\f105';
          position: absolute;
          right: 0;
          top: rem(7);
          color: #9b9b9b;
          font-size: rem(24);
        }
        &.active {
          &:after {
            content: '\f107';
          }
        }
        &:active, &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      .item-content {
        p {
          color: #6f6f6f;
          font-size: rem(14);
          strong {
            color: #6f6f6f;
            u {
              color: #6f6f6f;
            }
          }
        }
        ul {
          li {
            font-size: rem(14);
            color: #6f6f6f;
          }
        }
      }
      &__item {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-out;
        padding-left: rem(20);
        .note {
          background-color: rgba(255, 245, 232, 0.8);
          padding: 12px 15px;
          &__title {
            color: #c7202f;
            font-weight: bold;
            font-size: rem(14);
            font-style: normal;
          }
          &__content {
            font-style: italic;
            color: #000000;
          }
          strong {
            color: #000000;
          }
        }
      }
    }
  }
}