.section-5{
  background-image: url($src+'images/bg_section_2.jpg');
  position: relative;
  display: flex;
  align-items: center;
  &__snap{
    width: 90%;
    margin: auto;
    overflow: hidden;
    .projectBox{
      background: red;
      margin: 0px rem(15);
    }
  }
}

