.section-3{
  background: #000;
  .container-fuild{
    width: 100%;
    margin: auto;
  }
  &__list{
    margin: 0px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    @include maxs($sp-767) {
      overflow: initial;
      display: initial;
      min-height: 100vh;
    }
    &_1{
      background-image: url($src+'images/bg_section_3.1.jpg');
      background-size: cover;
      background-position: center center;
    };
    &_2{
      background-image: url($src+'images/bg_section_3.2.jpg');
      background-size: cover;
      background-position: center center;
    }
    &_3{
      background-image: url($src+'images/bg_section_3.3.jpg');
      background-size: cover;
      background-position: center center;
    }
    .list-inline-item{
      font-family: $font-B;
      font-size: rem(30);
      flex: 1;
      transition: all 500ms ease;
      position: relative;
      @include maxs($sp-767) {
        // min-height: 50vh;
        width: 100%;
        border: 0px;
        background-color: #e4a039;
        background-blend-mode: multiply;
        padding: rem(50) 0px;
      }
      .title{
        opacity: 1;
        position: absolute;
        top: 25%;
        left: rem(60);
        @include maxs($sp-1400) {
          top: 20%;
        }
        @include maxs($sp-767) {
          position: initial;
          opacity: 0px;
          top: 0%;
          display: none;
        }
      }
      .txtHover{
        font-size: rem(21);
        width: 50%;
        opacity: 0;
        position: absolute;
        top: 24.4%;
        left: rem(60);
        right: rem(30);
        transition: all 100ms ease-out;
        li {
          list-style: disc;
        }
        @include maxs($sp-1400) {
          top: 20%;
          width: 55%;
          font-size: rem(18);
        }
        @include maxs($sp-767) {
          width: 80%;
          opacity: 1;
          position: initial;
          margin-top: initial;
          margin-left: rem(20);
        }
        span{
          font-size: rem(30);
          font-family: $font-B;
        }
      }
      &:not(:last-child){
        margin-right: 0px;
      }
      &:hover{
        flex: 3;
        background-size: cover;
        background-position: center center;
        background-color: #e4a039;
        background-blend-mode: multiply;
        .title{
          opacity: 0
        }
        .txtHover{
          transition-delay: 400ms;
          opacity: 1;
        }
      }
    }
  }
}