.section-1{
  background-image: url($src+'images/bg_section_1.jpg');
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  &__txt{
    opacity: 0;
    margin-right: auto;
    width: 700px;
    margin-left: 5%;
    // margin-top: auto;
    // margin-bottom: 5%;
    font-size: rem(33);
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    @include maxs($sp-1400) {
      font-size: rem(30);
    }
  }
}