.section-proj-4 {
  span {
    &.more {
      font-style: italic;
      color: #c7202f;
      font-weight: normal;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  strong {
    color: #464646;
  }
  background-color: #f8f8f8;
  &__detail {
    &__title {
      color: #c7202f;
      font-size: rem(18);
      @include maxs($sp-1024) {
        font-size: rem(16);
      }
      &:after {
        position: relative;
        content: "";
        width: 145px;
        display: block;
        border-bottom: 2px solid #fbaf3f;
        margin-top: 5px;
      }
    }
    &__content {
      color: #464646;
      font-size: rem(16);
      @include maxs($sp-1024) {
        font-size: rem(14);
        margin-bottom: 15px;
      }
      &__more {
        color: #464646;
        display: none;
      }
    }
  }
  &__download {
    .btn-2 {
      @include maxs($sp-1024) {
        padding: 6px 14px;
      }
    }
    &__title {
      color: #c7202f;
      font-size: rem(18);
      @include maxs($sp-1024) {
        font-size: rem(16);
      }
      &:after {
        position: relative;
        content: "";
        width: 145px;
        display: block;
        border-bottom: 2px solid #fbaf3f;
        margin-top: 5px;
      }
    }
    &__content {
      color: #464646;
      font-size: rem(16);
      @include maxs($sp-1024) {
        font-size: rem(14);
        text-align: center;
      }
    }
    &__brochure,
    &__leaflet {
      font-weight: bold;
      cursor: pointer;
      color: #ffffff !important;
      @include maxs($sp-1200) {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
      }
      @include maxs($sp-767) {
        width: 55%;
      }
    }
    &__brochure {
      margin-right: 10px;
      @include maxs($sp-1200) {
        margin-right: 0;
      }
    }
  }
}