@import 'mixin';
@import 'fonts';
@import 'aos';
@import 'loading';
@import 'header';
@import 'sec_1';
@import 'sec_2';
@import 'sec_3';
@import 'sec_4';
@import 'sec_5';
@import 'sec_6';
@import 'sec_contact';
@import 'footer';
@import 'sec_1_proj';
@import 'sec_2_proj';
@import 'sec_3_proj';
@import 'sec_4_proj';
@import 'sec_5_proj';
@import 'sec_6_proj';
@import 'fancybox_modal.scss';
@import 'sec_1_contact';

.sec{
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn{
  background: #BE1E2D;
  border-radius: 37px;
  padding: rem(9) rem(35);
  text-transform: uppercase;
  font-size: rem(14);
  border: 0px;
}
.btn-2{
  background: #fbaf3f;
  border-radius: 37px;
  padding: rem(9) rem(35);
  text-transform: uppercase;
  font-size: rem(14);
  border: 0px;
}
.animated{
  opacity: 1;
}
.project-content {
  header {
    position: absolute;
  }
  .container {
    overflow: hidden;
  }
}
.modal{
  .modal-body{
    padding: rem(40)
  }
  p, h3{color: #000;}
}
body.mobile{
  .op-0{
    opacity: 1;
  }
  .sec{
    min-height: 100vh;
  }
  footer.sec{
    min-height: initial;
  }
}
.op-0{
  opacity: 0;
}
#thankyou_message_modal, #thankyou_message, #thankyou_message_moda {
  text-align: center;
  color: #BE1E2D;
  font-family: $font-B;
  font-size: rem(25);
  display: none;
}