@import 'mixin';
@import 'fonts';
@import 'aos';
@import 'loading';
@import 'header';
@import 'sec_1';
@import 'sec_2';
@import 'sec_3';
@import 'sec_4';
@import 'sec_5';
@import 'sec_contact';
@import 'footer';

.sec{
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.btn{
  background: #BE1E2D;
  border-radius: 37px;
  padding: rem(9) rem(35);
  text-transform: uppercase;
  font-size: rem(14);
  border: 0px;
}
.contact-form{
  margin: auto;
  width: 20%;
  .form-control{
    border: 0px;
    margin-top: rem(15);
    border-radius: 5px;
  }
}

