.sec-contact.sec-contact-1#contact
  .container
    .row.justify-content-center
      .sec-contact-1__form.col-6
        input.name(type="text" placeholder="Họ và tên")
        input.email(type="email" placeholder="Email")
        input.phone(type="tel" placeholder="Số điện thoại")
        textarea#message(name="message", rows="8" placeholder="Lời nhắn")
        .sec-contact-1__button.mt-3
          button.btn Gửi
      .sec-contact-1__info.col-6
        .sec-contact-1__social.ml-5.mb-3
          a.sec-contact-1__social__facebook.d-inline-block
            i.fa.fa-facebook
          a.sec-contact-1__social__youtube.d-inline-block.mr-4.ml-4
            i.fa.fa-youtube-play
          a.sec-contact-1__social__pinterest.d-inline-block
            i.fa.fa-pinterest-p
        .sec-contact-1__info__company-name.ml-5.mb-4 Công ty cổ phần VIREX
        .sec-contact-1__info__company-contact.ml-5
          |Địa chỉ: 33 Bà Triệu, P.Hàng Bài, Q.Hoàn Kiếm, Hà Nội.
          br
          |Tel: <tel>0906.06.2425</tel> - <tel>098.185.1258</tel>
          br
          |Email: info@virexgroup.com
          br
          |Website: <a href="http://virex.vn/">virex.vn</a>