.sec.section.section-5(data-anchor="portfolio")
  .section-5__snap
    .section-5__title.text-center Dự án
    .multiple-snap
      .snapBox
        .projectBox
          a.projectBoxLink(href="./project_phucat.html")
            .slideTitle Phú Cát CITY
            .slideDes Tọa lạc trong tổng thể cụm Dự án phát triển đô thị vệ tinh Hòa Lạc, tiếp giáp với khu dân dụng Bắc Phú Cát có quy mô hơn 90ha, Khu đô thị Phú Cát City là một dự án được quy hoạch đầu tư xây dựng đồng bộ
          img.w-100(src=src+'images/pro_img_1.jpg')
      .snapBox
        .projectBox
          a.projectBoxLink(href="./project_eden.html")
            .slideTitle Eden Rose Thanh Trì
            .slideDes 
          img.w-100(src=src+'images/pro_img_2.jpg')
      .snapBox
        .projectBox
          a.projectBoxLink(href="./project_goldencity.html")
            .slideTitle Golden City An Giang
            .slideDes 
          img.w-100(src=src+'images/pro_img_3.jpg')

      

