- vi = homeData.section1.dataVi
- en = homeData.section1.dataEn
- lang === 'vi' ? dataLang = vi : dataLang = en

.sec.section.section-1(data-anchor="home")
  .section-1__txt.op-0 !{dataLang.txt}
    
