.sec.section.section-5(data-anchor="portfolio")
  .section-5__snap
    .multiple-snap
      .snapBox
        .projectBox
          a(href="#")
            img.w-100(src=src+'images/pro_img_1.jpg')
      .snapBox
        .projectBox
          a(href="#")
            img.w-100(src=src+'images/pro_img_2.jpg')
      .snapBox
        .projectBox
          a(href="#")
            img.w-100(src=src+'images/pro_img_3.jpg')
      .snapBox
        .projectBox
          a(href="#")
            img.w-100(src=src+'images/pro_img_3.jpg')

      

