.sec.section-1#home
  .section-1__txt(data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000")
    | Tạo nên chuỗi lợi ích đồng hành giữa
    br
    | VIREX - CHỦ ĐẦU TƯ - KHÁCH HÀNG
    br
    | và các đối tác chiến lược.

