.sec.section-3#vision
  .container-fuild
    ul.section-3__list.list-inline
      li.section-3__list_1.list-inline-item Nhiệm vụ
      li.section-3__list_2.list-inline-item section 2
      li.section-3__list_3.list-inline-item section 3
      //- .col.section-3__box(data-aos="fade-up" data-aos-duration="1000") Mục tiêu của chúng tôi là xây dựng một môi trường minh bạch nhất cho giao dịch bất động sản
      //- .col.section-3__box(data-aos="fade-up" data-aos-duration="1000") Tầm nhìn đến 2022, VIREX sẽ trở thành top 5 sàn giao dịch BĐS
      //- .col.section-3__box(data-aos="fade-up" data-aos-duration="1000") Sứ mệnh…
  
