.sec.section.section-5(data-anchor="portfolio")
  .section-5__snap
    .section-5__title.text-center Dự án
    .multiple-snap
      each item in slideData
        .snapBox
          .projectBox
            a.projectBoxLink(href=`./${item.link}`, target="_blank")
              .slideTitle=item.title
              .slideDes=item.des
            img.w-100(src=src+'images/'+item.img)