.sec.section.section-2#about(data-anchor="about")
  .container
    .section-2__box.p-4
      .section-2__title 
        | Chúng tôi, bằng sức mạnh của công nghệ và kinh nghiệm quản lý, tạo nên một nền tảng minh bạch và chặt chẽ hơn trong việc giao dịch bất động sản
      .section-2__txt.mt-3
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam atque, id blanditiis ullam excepturi possimus tempore laboriosam ipsa saepe ipsam optio fuga numquam mollitia est delectus aut, non, culpa laudantium.
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam atque, id blanditiis ullam excepturi possimus tempore laboriosam ipsa saepe ipsam optio fuga numquam mollitia est delectus aut, non, culpa laudantium.
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam atque, id blanditiis ullam excepturi possimus tempore laboriosam ipsa saepe ipsam optio fuga numquam mollitia est delectus aut, non, culpa laudantium.



  
