.sec.section.section-3(data-anchor="vision")
  .container-fuild
    ul.section-3__list.list-inline
      each item, index in homeData.section3.dataVi
        - i = index + 1
        li(class=`section-3__list_${i} list-inline-item`)
          h3.title !{item.title}
          .txtHover 
            span !{item.title}
            div !{item.txt}