.sec.section-4#comment
  #commentSlide.carousel.slide.section-4__slide(data-ride="carousel" data-aos="fade-up" data-aos-duration="1000")
    ol.carousel-indicators
      li.active(data-target="#commentSlide", data-slide-to="0")
      li(data-target="#commentSlide", data-slide-to="1")
      li(data-target="#commentSlide", data-slide-to="2")
    .carousel-inner
      .carousel-item.active
        .carousel-content
          .title “Cần một đơn vị phân phối đủ kinh nghiệm và sự nắm bắt thị trường để Triển khai bán hàng một cách hiệu quả, chuyên nghiệp hơn”
          p CĐT Alphanam
      .carousel-item
        .carousel-content
          .title “Cần một đơn vị phân phối đủ kinh nghiệm và sự nắm bắt thị trường để Triển khai bán hàng một cách hiệu quả, chuyên nghiệp hơn”
          p CĐT Alphanam
      .carousel-item
        .carousel-content
          .title “Cần một đơn vị phân phối đủ kinh nghiệm và sự nắm bắt thị trường để Triển khai bán hàng một cách hiệu quả, chuyên nghiệp hơn”
          p CĐT Alphanam
    a.carousel-control-next(href="#commentSlide", role="button", data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only Next
