.sec.section.section-6(data-anchor="flow")
  .container-fuild
    ul.section-6__list.list-inline
      li.section-6__list_1.list-inline-item.section-6__li
        h3.title Dành cho nhà phân phối <br> & Chủ đầu tư
        ul.section-6__boxHover.list-inline
          li.list-inline-item
            .line.lineNumber 1
            .line.lineTxt
              .icon
                img(src=src+'images/icon-signupaccount.svg')
              .lineTitle Đăng ký tài khoản tại website
              .lineDes Bạn sẽ cần cung cấp những thông tin cơ bản
          li.list-inline-item
            .line.lineNumber 2
            .line.lineTxt
              .icon
                img(src=src+'images/icon-update-listing.svg')
              .lineTitle Cập nhật dự án bất động sản
              .lineDes Bạn có thể sử dụng template được thiết kế sẵn. Danh sách các dự án có thể cập nhật không giới hạn.
          
      li.section-6__list_2.list-inline-item.section-6__li
        h3.title Dành cho Khách hàng <br> & Nhà đầu tư
        .section-6__boxHover sadasdasd
    