.sec.section.section-3#vision
  .container-fuild
    ul.section-3__list.list-inline
      li.section-3__list_1.list-inline-item
        h3.title Nhiệm vụ
        .txtHover Nhiệm vụ của VIREX là cung cấp dịch vụ bất động sản minh bạch, an toàn và dễ dàng, ở đó chủ đầu tư và nhà phân phối giới thiệu sản phẩm của mình và gặp gỡ những khách hàng cũng như nhà đầu tư tiềm năng.
      li.section-3__list_2.list-inline-item
        h3.title Tầm nhìn
        .txtHover Tầm nhìn của VIREX là trở thành sàn giao dịch bất động sản hàng đầu trong năm năm tới.
      li.section-3__list_3.list-inline-item
        h3.title Cốt lõi
        .txtHover
          p Cốt lõi của VIREX là đầu tư vào con người và công nghệ
          p Với việc đầu tư vào công nghệ tân tiến, VIREX hỗ trợ người bán tìm kiếm khách hàng mục tiêu nhanh chóng và đáng tin cậy hơn. Theo đó, VIREX sẽ đạt được khối lượng bán hàng lớn gấp nhiều lần so với phương pháp kinh doanh truyền thống.
          p Mô hình Đối tác VIREX đảm bảo lợi ích cho tất cả các bên, cho phép VIREX hợp tác với các đối tác chuyên nghiệp, bên tư vấn chuyên môn và tránh khỏi thị trường độc quyền hiện nay. VIREX xác thực dựa trên ba yếu tố “Minh mạch, Rõ ràng và An Toàn”.
      //- .col.section-3__box(data-aos="fade-up" data-aos-duration="1000") Mục tiêu của chúng tôi là xây dựng một môi trường minh bạch nhất cho giao dịch bất động sản
      //- .col.section-3__box(data-aos="fade-up" data-aos-duration="1000") Tầm nhìn đến 2022, VIREX sẽ trở thành top 5 sàn giao dịch BĐS
      //- .col.section-3__box(data-aos="fade-up" data-aos-duration="1000") Sứ mệnh…
  
