.sec.section.section-1(data-anchor="home")
  .section-1__txt.op-0 
    p.mb-0 VIREX hoạt động với phương châm: Tạo ra chuỗi lợi ích đồng hành giữa:
    p VIREX – KHÁCH HÀNG - CHỦ ĐẦU TƯ – HỆ THỐNG ĐỐI TÁC.
