footer.sec.section.fp-auto-height
  .container
    .row
      .col
        h3.title Công ty cổ phần VIREX
        p Địa chỉ: 33 Bà Triệu, P.Hàng Bài, Q.Hoàn Kiếm, Hà Nội.
        p Tel: <tel>0906.06.2425</tel> - <tel>098.185.1258</tel>
        p Email: info@virexgroup.com
        p Website: <a href="http://virex.vn">virex.vn</a>
      .col
        ul.social-list.list-inline
          li.list-inline-item
            a.social-list__facebook
              i.fa.fa-facebook
          li.list-inline-item.ml-4.mr-4
            a.social-list__youtube
              i.fa.fa-youtube-play
          li.list-inline-item
            a.social-list__pinterest
              i.fa.fa-pinterest-p
    .txtFooter.text-center (c) VIREX - All right reserved
