footer
  .container
    .row
      .col
        h3.title Công ty cổ phần VIREX
        p 33 Bà Triệu - Hoàn Kiếm - Hà Nội
        p Tel: 1234566
        p FAX: 1234676
        p Email: virex@mail.com
      .col
        ul.social-list.list-inline
          li.list-inline-item
            a.social-list__facebook
              i.fa.fa-facebook
          li.list-inline-item.ml-4.mr-4
            a.social-list__youtube
              i.fa.fa-youtube-play
          li.list-inline-item
            a.social-list__pinterest
              i.fa.fa-pinterest-p
    .txtFooter.text-center (c) VIREX - All right reserved
