footer
  .container
    .row
      .col
        h3.title Công ty cổ phần VIREX
        p 33 Bà Triệu - Hoàn Kiếm - Hà Nội
        p Tel: 1234566
        p FAX: 1234676
        p Email: virex@mail.com
      .col
        ul.social-list.list-inline
          li.list-inline-item
            a fb
          li.list-inline-item
            a yt
          li.list-inline-item
            a p
    .txtFooter.text-center (c) VIREX - All right reserved
