include ../../data/data.pug
  if menuIndex===0
    - checkHome = 'active'
header
  nav.navbar.navbar-expand-md#main-menu
    a.navbar-brand(href="#")
      img.logo(src=src+'images/logo.png')
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarCollapse", aria-controls="navbarCollapse", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item(class=checkHome)
          a.nav-link.smooth-scroll(href="#about") GIỚI THIỆU
        li.nav-item
          a.nav-link.smooth-scroll(href="#portfolio") DỰ ÁN
          ul.subMenu.list-unstyled
            li
              a(href="#") Golden City An Giang
            li
              a(href="#") EDEN ROSE
            li
              a(href="#") PHÚ CÁT CITY
        li.nav-item
          a.nav-link.smooth-scroll(href="#contact") LIÊN HỆ
      a.btnGetNew(href="#") NHẬN TIN MỚI



