#modalGetNew.modal.fade(role="dialog")
	.modal-dialog.modal-lg
		// Modal content
		.modal-content
			.modal-body
				h3.text-center.pb-5 Đăng kí nhận thông tin
				p.text-center.mb-5 Nhận thông tin từ VIREX về những dự án và các ưu đãi
				.clearfix
					#thankyou_message_modal Thank you for contacting us !
					form(action="https://script.google.com/macros/s/AKfycbzrUjKObNPZyaFAIge2-h5oQ3GfzSUx1ekjWujO-iY6n1H78Hw/exec", class="contact-form", id="gformModal", method="POST")
						.form-group
							input#name.form-control.w-50.m-auto(name="Name", type="text", placeholder="Họ và tên")
						.form-group.text-center
							input#email.form-control.w-50.m-auto(name="Email", type="email", required="", placeholder="Email")
						div.text-center.pt-3
								button(class="btn btn-primary", type="submit", id="submit-form") nhận thông tin
