#modalGetNew.modal.fade(role="dialog")
	.modal-dialog.modal-lg
		// Modal content
		.modal-content
			.modal-body
				h3.text-center.pb-5 Đăng kí nhận thông tin
				p.text-center Trở thành những người đầu tiên nhận thông báo của chúng tôi về 
				p.text-center.mb-3 những ưu đãi, những thông tin về dự án của VIREX
				.clearfix
					form#gformModal.contact-form(method="POST", action="https://script.google.com/macros/s/AKfycbzbEkeYsq7-T_US8ijFP08vSYK61EsawJkPdGZt4irvNWpKgUtZ/exec")
						.form-group
							input#name.form-control(name="name", type="text", placeholder="Họ và tên")
						.form-group
							input#email.form-control(name="email", type="email", required="", placeholder="Email")
						div.text-center.pt-3
								button.btn.btn-default.btn-getNews(type="submit") NHẬN THÔNG TIN