- var src = './'
-
    var slideData = [
    {
        title: 'Phú Cát CITY',
        des: 'Tọa lạc trong tổng thể cụm Dự án phát triển đô thị vệ tinh Hòa Lạc, tiếp giáp với khu dân dụng Bắc Phú Cát có quy mô hơn 90ha, Khu đô thị Phú Cát City là một dự án được quy hoạch đầu tư xây dựng đồng bộ',
        img: 'pro_img_1.jpg',
        link: 'project_phucat.html'
    },
    {
        title: 'Eden Rose Thanh Trì',
        des: 'The Eden Rose - Thanh Trì là dự án gồm tổ hợp các căn biệt thự, villa, shophouse liền kề cao cấp nhất khu vực. The Eden Rose được tích hợp mọi hệ thống tiện ích cao cấp và hiện đại trong một khuôn viên không gian xanh với bầu không khí trong lành. Hiếm có dự án nào đạt đủ các tiêu chí không gian sống lý tưởng như The Eden Rose.',
        img: 'pro_img_2.jpg',
        link: 'project_eden.html'
    },
    {
        title: 'Golden City An Giang',
        des: '',
        img: 'pro_img_3.jpg',
        link: 'project_goldencity.html'
    }
    ]