- var src = './'
-
    var slideData = [
        {
            title: 'Phú Cát CITY',
            des: 'Tọa lạc trong tổng thể cụm Dự án phát triển đô thị vệ tinh Hòa Lạc, tiếp giáp với khu dân dụng Bắc Phú Cát có quy mô hơn 90ha, Khu đô thị Phú Cát City là một dự án được quy hoạch đầu tư xây dựng đồng bộ',
            img: 'pro_img_1.jpg',
            link: 'project_phucat.html'
        },
        {
            title: 'Eden Rose Thanh Trì',
            des: 'The Eden Rose - Thanh Trì là dự án gồm tổ hợp các căn biệt thự, villa, shophouse liền kề cao cấp nhất khu vực. The Eden Rose được tích hợp mọi hệ thống tiện ích cao cấp và hiện đại trong một khuôn viên không gian xanh với bầu không khí trong lành. Hiếm có dự án nào đạt đủ các tiêu chí không gian sống lý tưởng như The Eden Rose.',
            img: 'pro_img_2.jpg',
            link: 'project_eden.html'
        },
        {
            title: 'Golden City An Giang',
            des: '',
            img: 'pro_img_2.jpg',
            link: 'project_goldencity.html'
        }
    ]
-
    var homeData = {
        section1:{
            txtVi: `
            <p class='mb-0'>VIREX hoạt động với phương châm: Tạo ra chuỗi lợi ích đồng hành giữa:</p>
            <p>VIREX – KHÁCH HÀNG - CHỦ ĐẦU TƯ – HỆ THỐNG ĐỐI TÁC.</p>
            `,
            txtEn: `
            <p class='mb-0'>VIREX hoạt động với phương châm: Tạo ra chuỗi lợi ích đồng hành giữa:</p>
            <p>VIREX – KHÁCH HÀNG - CHỦ ĐẦU TƯ – HỆ THỐNG ĐỐI TÁC.</p>
            `,
        },
        section2:{
            txtVi: `
            <p>Hiện nay tại Việt Nam, nguồn thông tin về các dự án bất động sản đều chưa nhất quán, khiến khách hàng cảm thấy bối rối và bất an, tạo nên một rào cản lớn cho những giao dịch mua bán ở cả trong và ngoài nước. VIREX sẽ ra đời một nền tảng duy nhất cung cấp thông tin tin cậy, dễ dàng tìm kiếm, từ nhà đầu tư tới khách hàng, được VIREX xác thực.</p>
            <p>Chúng tôi tự hào là đơn vị nhận được nhiều sự quan tâm, hợp tác, cộng tác của đội ngũ cố vấn là các chuyên gia đầu ngành tại Việt Nam trong các lĩnh vực: Đầu tư, Xây dựng, Tài chính, Kinh tế, Bất động sản, Tư vấn chiến lược, Pháp luật, Marketing… VIREX quy tụ được đội ngũ ban điều hành có nhiều kinh nghiệm, và giữ mối liên kết chặt chẽ trong các tổ chức tại Việt Nam như: Hiệp hội Bất động sản Việt Nam, Hội môi giới Bất động sản Việt Nam, Hội Bất động sản Du lịch Việt Nam, Câu lạc bộ Bất động sản Hà Nội… Chúng tôi liên tục cập nhật thông tin thị trường, để trở thành cố vấn tin cậy của đối tác.</p>
            `,
            txtEn: `
            <p>Hiện nay tại Việt Nam, nguồn thông tin về các dự án bất động sản đều chưa nhất quán, khiến khách hàng cảm thấy bối rối và bất an, tạo nên một rào cản lớn cho những giao dịch mua bán ở cả trong và ngoài nước. VIREX sẽ ra đời một nền tảng duy nhất cung cấp thông tin tin cậy, dễ dàng tìm kiếm, từ nhà đầu tư tới khách hàng, được VIREX xác thực.</p>
            <p>Chúng tôi tự hào là đơn vị nhận được nhiều sự quan tâm, hợp tác, cộng tác của đội ngũ cố vấn là các chuyên gia đầu ngành tại Việt Nam trong các lĩnh vực: Đầu tư, Xây dựng, Tài chính, Kinh tế, Bất động sản, Tư vấn chiến lược, Pháp luật, Marketing… VIREX quy tụ được đội ngũ ban điều hành có nhiều kinh nghiệm, và giữ mối liên kết chặt chẽ trong các tổ chức tại Việt Nam như: Hiệp hội Bất động sản Việt Nam, Hội môi giới Bất động sản Việt Nam, Hội Bất động sản Du lịch Việt Nam, Câu lạc bộ Bất động sản Hà Nội… Chúng tôi liên tục cập nhật thông tin thị trường, để trở thành cố vấn tin cậy của đối tác.</p>
            `,
        },
        section3:{
            dataVi: [
                {
                    title: `Sứ mệnh`,
                    txt: `
                    <p>Tạo ra một môi trường giao dịch minh bạch, khép kín trong lĩnh vực bất động sản:</p>
                    <ul>
                        <li>Hỗ trợ chủ đầu tư nắm bắt được thông tin thị trường, tư vấn chiến lược bán hàng…</li>
                        <li>Hỗ trợ Khách hàng có cái nhìn tổng quan về nhóm sản phẩm mà họ quan tâm, từ đó đưa ra các quyết định mua hoặc đầu tư chính xác, hiệu quả.</li>
                    </ul>
                    `
                },
                {
                    title: `Tầm nhìn`,
                    txt: `<p>Phát triển VIREX trở thành công ty Bất động sản chuyên nghiệp vững mạnh với thương hiệu uy tín hàng đầu trên thị trường bất động sản Việt Nam.</p>`
                },
                {
                    title: `Cốt lõi`,
                    txt: `
                    <p>Công nghệ và Con người</p>
                    <p>Với việc đầu tư vào công nghệ tân tiến, VIREX hỗ trợ người bán tìm kiếm khách hàng mục tiêu nhanh chóng và đáng tin cậy hơn. Theo đó, VIREX sẽ đạt được khối lượng bán hàng lớn gấp nhiều lần so với phương pháp kinh doanh truyền thống.</p>
                    <p>Mô hình Đối tác VIREX đảm bảo lợi ích cho tất cả các bên, cho phép VIREX hợp tác với các đối tác chuyên nghiệp, bên tư vấn chuyên môn và tránh khỏi thị trường độc quyền hiện nay. VIREX xác thực dựa trên ba yếu tố “Minh mạch, Rõ ràng và An Toàn”.</p>
                    `
                }
            ],
            dataEN: [
                {
                    title: `Sứ mệnh`,
                    txt: `
                    <p>Tạo ra một môi trường giao dịch minh bạch, khép kín trong lĩnh vực bất động sản:</p>
                    <ul>
                        <li>Hỗ trợ chủ đầu tư nắm bắt được thông tin thị trường, tư vấn chiến lược bán hàng…</li>
                        <li>Hỗ trợ Khách hàng có cái nhìn tổng quan về nhóm sản phẩm mà họ quan tâm, từ đó đưa ra các quyết định mua hoặc đầu tư chính xác, hiệu quả.</li>
                    </ul>
                    `
                },
                {
                    title: `Tầm nhìn`,
                    txt: `<p>Phát triển VIREX trở thành công ty Bất động sản chuyên nghiệp vững mạnh với thương hiệu uy tín hàng đầu trên thị trường bất động sản Việt Nam.</p>`
                },
                {
                    title: `Cốt lõi`,
                    txt: `
                    <p>Công nghệ và Con người</p>
                    <p>Với việc đầu tư vào công nghệ tân tiến, VIREX hỗ trợ người bán tìm kiếm khách hàng mục tiêu nhanh chóng và đáng tin cậy hơn. Theo đó, VIREX sẽ đạt được khối lượng bán hàng lớn gấp nhiều lần so với phương pháp kinh doanh truyền thống.</p>
                    <p>Mô hình Đối tác VIREX đảm bảo lợi ích cho tất cả các bên, cho phép VIREX hợp tác với các đối tác chuyên nghiệp, bên tư vấn chuyên môn và tránh khỏi thị trường độc quyền hiện nay. VIREX xác thực dựa trên ba yếu tố “Minh mạch, Rõ ràng và An Toàn”.</p>
                    `
                }
            ]
        },
        section4: {
            titleVi: "Dự án",
            titleEn: "Project",
            slideVi: [
                {
                    name: "Phú Cát CITY",
                    des: "Tọa lạc trong tổng thể cụm Dự án phát triển đô thị vệ tinh Hòa Lạc, tiếp giáp với khu dân dụng Bắc Phú Cát có quy mô hơn 90ha, Khu đô thị Phú Cát City là một dự án được quy hoạch đầu tư xây dựng đồng bộ",
                    img: 'pro_img_1.jpg',
                    link: 'project_phucat.html'
                },
                {
                    name: "Eden Rose Thanh Trì",
                    des: "The Eden Rose - Thanh Trì là dự án gồm tổ hợp các căn biệt thự, villa, shophouse liền kề cao cấp nhất khu vực. The Eden Rose được tích hợp mọi hệ thống tiện ích cao cấp và hiện đại trong một khuôn viên không gian xanh với bầu không khí trong lành. Hiếm có dự án nào đạt đủ các tiêu chí không gian sống lý tưởng như The Eden Rose.",
                    img: 'pro_img_2.jpg',
                    link: 'project_eden.html'
                },
                {
                    name: "Golden City An Giang",
                    des: "",
                    img: 'pro_img_3.jpg',
                    link: 'project_goldencity.html'
                }
            ],
            slideEn:[
                {
                    name: "Phú Cát CITY",
                    des: "Tọa lạc trong tổng thể cụm Dự án phát triển đô thị vệ tinh Hòa Lạc, tiếp giáp với khu dân dụng Bắc Phú Cát có quy mô hơn 90ha, Khu đô thị Phú Cát City là một dự án được quy hoạch đầu tư xây dựng đồng bộ",
                    img: 'pro_img_1.jpg',
                    link: 'project_phucat.html'
                },
                {
                    name: "Eden Rose Thanh Trì",
                    des: "The Eden Rose - Thanh Trì là dự án gồm tổ hợp các căn biệt thự, villa, shophouse liền kề cao cấp nhất khu vực. The Eden Rose được tích hợp mọi hệ thống tiện ích cao cấp và hiện đại trong một khuôn viên không gian xanh với bầu không khí trong lành. Hiếm có dự án nào đạt đủ các tiêu chí không gian sống lý tưởng như The Eden Rose.",
                    img: 'pro_img_2.jpg',
                    link: 'project_eden.html'
                },
                {
                    name: "Golden City An Giang",
                    des: "",
                    img: 'pro_img_3.jpg',
                    link: 'project_goldencity.html'
                }
            ]
        },
        section5: {
            slideVi:[
                {
                    data: `
                    <div class='title'>
                        “VIREX” đã xoá bỏ mọi rào cản để kiến tạo một sàn giao dịch bất động sản thành công tại Việt Nam, thể hiện được rõ những quan điểm và tầm nhìn chiến lược cho những cơ hội tương lai. Chúng tôi hoàn toàn bị thuyết phục và mong muốn trở thành một phần của nền tảng sơ khai ấy.
                    </div>
                    <div class='title mt-3'>
                        Alphanam tự hào là chủ đầu tư tiên phong tham gia vào VIREX, thực hiện sứ mệnh hiện đại hoá bất động sản tại Việt Nam”.
                    </div>
                    <p>CĐT Alphanam</p>
                    `
                }
            ],
            slideEn:[
                {
                    data: `
                    <div class='title'>
                        “VIREX” đã xoá bỏ mọi rào cản để kiến tạo một sàn giao dịch bất động sản thành công tại Việt Nam, thể hiện được rõ những quan điểm và tầm nhìn chiến lược cho những cơ hội tương lai. Chúng tôi hoàn toàn bị thuyết phục và mong muốn trở thành một phần của nền tảng sơ khai ấy.
                    </div>
                    <div class='title mt-3'>
                        Alphanam tự hào là chủ đầu tư tiên phong tham gia vào VIREX, thực hiện sứ mệnh hiện đại hoá bất động sản tại Việt Nam”.
                    </div>
                    <p>CĐT Alphanam</p>
                    `
                }
            ]
        },
        section6: {
        }
    }


 