- var src = './'
-
  var contactData = {
    dataVi = {
      namePlaceholder = "Họ và tên",
      phonePlaceholder = "Số điện thoại",
      messagePlaceholder = "Lời nhắn",
      buttonText = "Gửi",
      companyName: "Công ty cổ phần VIREX",
      address: "Địa chỉ: 33A Bà Triệu, P.Hàng Bài, Q.Hoàn Kiếm, Hà Nội."
    },
    dataEn = {
      namePlaceholder = "Họ và tên",
      phonePlaceholder = "Số điện thoại",
      messagePlaceholder = "Lời nhắn",
      buttonText = "Gửi",
      companyName: "Công ty cổ phần VIREX",
      address: "Địa chỉ: 33A Bà Triệu, P.Hàng Bài, Q.Hoàn Kiếm, Hà Nội."
    }
  }
-
  var projectData = {
    dataVi = {
      section1: {
        photo: "HÌNH ẢNH",
        guide: "MẶT BẰNG",
        position: "VỊ TRÍ"
      },
      
      section3: {
        model: "LOẠI HÌNH",
        investor: "CHỦ ĐẦU TƯ",
        price: "GIÁ BÁN"
      },
      section4: {
        introduction: "GIỚI THIỆU CHUNG",
        more: "xem thêm",
        document: "TÀI LIỆU TẢI VỀ",
      },
      section6: {
        investor: "CHỦ ĐẦU TƯ",
        design: "ĐƠN VỊ THIẾT KẾ",
        construct: "ĐƠN VỊ THI CÔNG",
        positon: "VỊ TRÍ",
        design_info: "THÔNG TIN THIẾT KẾ",
        utility: "HỆ THỐNG TIỆN ÍCH",
        progress: "TIẾN ĐỘ THI CÔNG VÀ PHÁP LÝ",
        price: "GIÁ BÁN VÀ TIẾN ĐỘ THANH TOÁN"
      }
    },
    dataEn = {
      section1: {
        photo: "HÌNH ẢNH",
        guide: "MẶT BẰNG",
        position: "VỊ TRÍ"
      },
      
      section3: {
        model: "LOẠI HÌNH",
        investor: "CHỦ ĐẦU TƯ",
        price: "GIÁ BÁN"
      },
      section4: {
        introduction: "GIỚI THIỆU CHUNG",
        more: "xem thêm",
        document: "TÀI LIỆU TẢI VỀ",
      },
      section6: {
        investor: "CHỦ ĐẦU TƯ",
        design: "ĐƠN VỊ THIẾT KẾ",
        construct: "ĐƠN VỊ THI CÔNG",
        positon: "VỊ TRÍ",
        design_info: "THÔNG TIN THIẾT KẾ",
        utility: "HỆ THỐNG TIỆN ÍCH",
        progress: "TIẾN ĐỘ THI CÔNG VÀ PHÁP LÝ",
        price: "GIÁ BÁN VÀ TIẾN ĐỘ THANH TOÁN"
      }
    }
  }
-
  var foreignData = {
    dataVi = {
      section1: {
        txt: `
          <p class="mb-0"> PROGRAM FOR FOREIGNERS AND OVERSEAS VIETNAMESE </p>
          <p> PURCHASING HOUSES IN VIETNAM </p>
        `
      },
      section2: {
        txt: "CONDITIONS FOR BUYING HOUSES IN VIETNAME OF FOREIGNERS AND OVERSEA VIETNAMESES"
      },
      section3: {
        txt: "TRANSACTION PROCEDURE:"
      },
      section4: {
        title: "THE PROCEDURE OF SELLING HOUSES FOR FOREIGNERS AND OVERSEAS VIETNAMESE",
        condition: "1. Conditions for buying houses in Vietnam of foreigners and overseas Vietnamese",
        transaction: "2. Transaction Procedure",
        issue: "3. Legal issues related to the process of selling housing to foreigners and related procedures / matters"
      }
    },
    dataEn = {
      section1: {
        txt: `
          <p class="mb-0"> PROGRAM FOR FOREIGNERS AND OVERSEAS VIETNAMESE </p>
          <p> PURCHASING HOUSES IN VIETNAM </p>
        `
      },
      section2: {
        txt: "CONDITIONS FOR BUYING HOUSES IN VIETNAME OF FOREIGNERS AND OVERSEA VIETNAMESES"
      },
      section3: {
        txt: "TRANSACTION PROCEDURE:"
      },
      section4: {
        title: "THE PROCEDURE OF SELLING HOUSES FOR FOREIGNERS AND OVERSEAS VIETNAMESE",
        condition: "1. Conditions for buying houses in Vietnam of foreigners and overseas Vietnamese",
        transaction: "2. Transaction Procedure",
        issue: "3. Legal issues related to the process of selling housing to foreigners and related procedures / matters"
      }
    }
  }